@model AccountSecurityModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.AccountSecurity").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
}
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>账户安全</li>
    </ul>
</div>
<div class="mycenterCon">
    <div class="securityLevel clearfix">
        @if (Model.SecurityLevel == SecurityLevelType.Lower)
        {        
            <label>安全级别：<span class="text-danger">弱</span></label>
            <div class="safe-level-01"></div>
        }
        else if (Model.SecurityLevel == SecurityLevelType.Middle)
        {
            <label>安全级别：<span class="corange">中</span></label>
            <div class="safe-level-02"></div>
        }
        else if (Model.SecurityLevel == SecurityLevelType.High)
        {
            <label>安全级别：<span class="cgreen">高</span></label>
            <div class="safe-level-03"></div>
        }
    </div>
    <ul class="safeList">
        <li class="@if (Model.PasswordVerification)
                   {<text>safe_ok</text> }
                   else
                   {<text>safe_warnning</text>}">登录密码：互联网账号存在被盗风险，建议您定期更改密码以保护账户安全<a href="@Url.RouteUrl("CustomerChangePasswordStep")">修改&gt;&gt;</a></li>
        <li class="@if (Model.MobileVerification)
                   {<text>safe_ok</text> }
                   else
                   {<text>safe_warnning</text>}">手机验证：验证后，可用于邮箱找回登录密码，接收订单、特价提醒服务
            <a href="@Url.RouteUrl("CustomerChangeMobileStep")">
                @if (Model.MobileVerification)
                { <text>修改&gt;&gt;</text>}
                else
                {<text>立即验证&gt;&gt;</text> }
            </a>
        </li>
        <li class="@if (Model.EmailVerification)
                   {<text>safe_ok</text> }
                   else
                   {<text>safe_warnning</text>}">邮箱验证：验证后，可用于快速登录，找回登录密码，接收账户余额变动提醒            
            <a href="@Url.RouteUrl("CustomerChangeEmailStep")">
                @if (Model.EmailVerification)
                { <text>修改&gt;&gt;</text>}
                else
                {<text>立即验证&gt;&gt;</text> }
            </a>
        </li>
    </ul>
</div>
