@model Nop.Web.Models.Customer.ChangePasswordStep
<div onclick="javascript:go_fa_step(1)" id="fa_1" class="step_item @if (Model == Nop.Web.Models.Customer.ChangePasswordStep.FirstStep)
                                                                   {<text> step_set</text>}">
    <div class="step_num">1</div>
    验证身份					
                <div class="step_right"></div>
</div>
<div onclick="javascript:go_fa_step(2)" id="fa_2" class="step_item @if (Model == Nop.Web.Models.Customer.ChangePasswordStep.SecondStep)
                                                                   {<text> step_set</text>}"">
    <div class="step_left"></div>
    <div class="step_num">2</div>
    设置新密码					
                <div class="step_right"></div>
</div>
<div onclick="javascript:go_fa_step(3)" id="fa_3" class="step_item @if (Model == Nop.Web.Models.Customer.ChangePasswordStep.ThirdStep)
                                                                   {<text> step_set</text>}"">
    <div class="step_left"></div>
    <div class="step_num">3</div>
    完成					
                <div class="step_right"></div>
</div>


