@model Nop.Web.Models.Customer.ChangeMobileStepNavModel

@if (Model.IsUpdateMobile)
{
    <div onclick="javascript:go_fa_step(1)" id="fa_1" class="step_item @if (Model.ChangeMobileStep == Nop.Web.Models.Customer.ChangeMobileStep.FirstStep)
                                                                       {<text> step_set</text>}">
        <div class="step_num">1</div>
        验证身份					
                <div class="step_right"></div>
    </div>
}
<div onclick="javascript:go_fa_step(2)" id="fa_2" class="step_item @if (Model.ChangeMobileStep == Nop.Web.Models.Customer.ChangeMobileStep.SecondStep)
                                                                   {<text> step_set</text>}"">
    <div class="step_left"></div>
    @if (Model.IsUpdateMobile)
    {
        <div class="step_num">2</div>
        <text>设置手机号码</text>
    }
    else
    {
        <div class="step_num">1</div>
        <text>设置验证手机 </text>
    }
    <div class="step_right"></div>
</div>
<div onclick="javascript:go_fa_step(3)" id="fa_3" class="step_item @if (Model.ChangeMobileStep == Nop.Web.Models.Customer.ChangeMobileStep.ThirdStep)
                                                                   {<text> step_set</text>}"">
    <div class="step_left"></div>
    <div class="step_num">3</div>
    @if (Model.IsUpdateMobile)
    {
        <div class="step_num">3</div>   
    }
    else
    {
        <div class="step_num">2</div>
    }
    完成					
                <div class="step_right"></div>
</div>


