@model PasswordRecoveryStep1Model
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_login.css");
}

<div class="reg-box">
    <div class="password clearfix">
        <h3><strong>忘记密码</strong></h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        { 
            <div class="tipsPostion">
                <div id="errorMsg" class="box-error-s" @if (string.IsNullOrEmpty(@Model.Message))
                                                       { <text>style="display: none;"</text>}>@Model.Message
                </div>
            </div>
            <div class="formList">
                <p class="tips mar_b_20">请输入您的邮箱/手机号码</p>
                <dl class="clearfix">
                    <dt><strong class="cred">*</strong> 邮箱/手机号码：</dt>
                    <dd>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input-style input-m", placeholder = T("Account.Fields.Username.Hint"), maxlength = 40 })
                    </dd>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <input id="goto_next" type="submit" class="btn btn-green" value="下一步（身份校验）" />
                    </dd>
                </dl>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#goto_next").click(function () {
            return CheckForm();
        });
    });

    function CheckForm() {
        var userName = $.trim($("#@Html.FieldIdFor(model => model.UserName)").val());
        if (userName == "") {
            ShowErrorMsg("登录账号不能为空哦");
            return false;
        }
        return true;
    }

    function ShowErrorMsg(msg) {
        $("#errorMsg").show();
        $("#errorMsg").html(msg);
    }
</script>
