@model PasswordRecoveryStep4Model
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_login.css");
}

<div class="reg-box">
    <div class="password clearfix">
        <div class="box-ok">
            <p class="f16px">恭喜您，密码设置成功！</p>
            <p>您的邮箱/手机号码：<strong class="text-danger">@Model.UserName</strong></p>
            <p>已成功重置密码，请牢记您的新密码</p>
            <a href="@Url.RouteUrl("HomePage")" class="btn btn-green">马上去逛逛</a>
        </div>
    </div>
</div>
