<div class="zhtjBox">
    <div class="title">
        <h2>组合推荐</h2>
        <ul class="tab_01">
            <li><a href="###" class="on">组合一</a></li>
            <li><a href="###">组合二</a></li>
            <li><a href="###">组合三</a></li>
        </ul>
    </div>
    <ul class="zhtjList row">
        <li class="add col-md-3">
            <a href="###">
                <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_150.jpg")"></a>
            <h3>￥8.1</h3>
            <a href="###">上好佳甜辣味薯片</a>
        </li>
        <li class="col-md-3 add">
            <a href="###">
                <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_150.jpg")"></a>
            <h3>￥8.1</h3>
            <a href="###">上好佳甜辣味薯片</a>
        </li>
        <li class="col-md-3 dy">
            <a href="###">
                <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_150.jpg")"></a>
            <h3>￥8.1</h3>
            <a href="###">上好佳甜辣味薯</a>
        </li>
        <li class="col-md-3 total">
            <p>
                组合价：<span class="corange">￥13.5</span><br>
                原   价：<span class="line_through">￥14.00</span><br>
                立   省：<span class="cgreen">￥0.5</span>
            </p>
            <button type="button" class="btn btn-orange btn-md">立刻购买</button>
        </li>
    </ul>
</div>
