@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
 
@if (Model.Count > 0)
{
    <div class="normalTitle-01 clearfix">
        <h2>@T("ShoppingCart.CrossSells")</h2>
    </div>
    <div class="normalList-02 clearfix">
        <ul>
            @foreach (var product in Model)
            {
                @Html.Partial("_ProductBox5", product)
            }
        </ul>
    </div>
    <img alt="" id="ctoid1" style="display: none;" />
    <script type="text/javascript">
        $(function () {
            $("[node-type='quantity-minus']").click(function () {
                var pid = $(this).attr("data");
                var o = $("[name='quantity-" + pid + "']");
                var newValue = parseInt(o.val()) - 1;
                if (newValue < 1)
                    newValue = 1;
                o.val(newValue)
            });
            $("[node-type='quantity-plus']").click(function () {
                var pid = $(this).attr("data");
                var o = $("[name='quantity-" + pid + "']");
                var newValue = parseInt(o.val()) + 1;
                if (newValue > 99)
                    return;
                o.val(newValue)
            });

            $("a.btn-cart-m[data-input]").click(function () {
                try {
                    var pid = $(this).attr("data-pid");
                    var picUrl = $(this).attr("data-picurl");
                    var lnk = $(this).attr("data-addtocartlink");
                    var quantity = $(this).attr("data-quantityid");
                    //AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/" + pid + "/1/" + quantity);
                    AjaxCart.addproducttocart_catalog(lnk, $(quantity).val());
                    ShowCart(this, picUrl, "orderSummaryEndTag");
                } catch (e) { };
            });
        }); 
    </script>

}