@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
<div class="leftBox-01">
    <div class="title">
        <h2>@T("Products.RelatedProducts")</h2>
    </div>
    <div class="con">
        <ul>
            @foreach (var item in Model)
            {
                @Html.Partial("_ProductBox6", item)
            }
        </ul>
    </div>
</div>
