@Html.Partial("TopBar")
@using Nop.Core.Domain.Common;
@*首页-顶部站内搜索*@
<div class="headTop clearfix">
    <div class="container">
        <div class="logo">
            <a href="@Url.RouteUrl("HomePage")" class="a1">60购</a>
            @*@Html.Action("StoreSelector", "Common")*@
        </div>
        <div class="promise"></div>
        <div class="searchArea">
            @Html.Action("SearchBox", "Catalog", new { showMode = ShowMode.Static })
        </div>
    </div>
</div>
