@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm("ABuySetting", "CheckOut", FormMethod.Post, new { id = "form" }))
    {
        <input id="abuyState" name="state" type="hidden" value="@((int)Model)" />
        <input type="button" state="0" onclick="Sub(this)" value="即将开始" />
    <input type="button" state="1" onclick="Sub(this)" value="活动开始" />
    <input type="button" state="2" onclick="Sub(this)" value="活动结束" />
    当前活动状态:<span>@Model</span>
    }


    <script type="text/javascript">
        function Sub(btn) {
            var val = $(btn).attr("state");
            $("#abuyState").val(val);
            $("#form").submit()
        }
    </script>
</body>
</html>
