@model CheckoutProgressModel
@using Nop.Web.Models.Checkout;

@Html.Widget("checkout_progress_before")
@if (Model.CheckoutProgressStep == CheckoutProgressStep.Cart)
{
<div class="cartStep cartStep-01"></div>
}
@if (Model.CheckoutProgressStep == CheckoutProgressStep.Confirm)
{
<div class="cartStep cartStep-02"><a href="@Url.RouteUrl("ShoppingCart")"></a></div>
}
@if (Model.CheckoutProgressStep == CheckoutProgressStep.Complete)
{
<div class="cartStep cartStep-03"></div>
}
@Html.Widget("checkout_progress_after")

