@charset "utf-8";
/*宝贝详情----------------------*/
.detail{
    padding-bottom:3em;
}
/*详情图片---------------------*/
.imgShow{
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    display:none;
}
.imgShow .close{
    position:fixed;
    z-index:1001;
    bottom:1em;
    left:1em;
    width:2em;
    height:2em;
    background:rgba(255,255,255,.5) url(../wx_images/arrow_right.png) center center no-repeat;
    background-size:auto 60%;
    -webkit-transform:rotate(180deg);
    border-radius:1em;
}
.imgShow li{
    width:100%;
    text-align:center;
}
.imgShow li img{
    max-width:100%;
    float:left;
}
.detail-img{
    width:100%;
    height:15em;
    border-bottom:.35em solid #666;
    text-align:center;
    position:relative;
    overflow:hidden;
}
.detail-img ul{
    position:absolute;
    height:100%;
    width:100%;
    z-index:2;
    -webkit-transition:500ms;
}
.detail-img ul li{
    float:left;
    height:100%;
    width:100%;
    position:relative;
    background:#fff;
}
.detail-img ul li img{
	height:100%;
}
.detail-img ol{
    position:absolute;
    z-index:3;
    left:50%;
    bottom:1em;
}
.detail-img ol li{
    border:2px solid #fff;
    border-radius:.6em;
    margin-right:.8em;
    width:.6em;
    height:.6em;
    float:left;
    opacity:.8;
    box-shadow:0 0 6px #666;
    position:relative;
    background:#fff;
}
.detail-img ol li:last-child{
    margin:0;
}
.detail-img ol li.current{
    background:#f60;
    opacity:1;
}
.sale-tag-none{
    display:block;
    width:102px;
    height:74px;
    position:absolute;
    background:url(../wx_images/sale_tag_none.png) no-repeat;
    top:50%;
    right:50%;
    margin-top:-37px;
    margin-right:-51px;
}
.sale-tag-none-big{
    display:block;
    width:6em;
    height:5em;
    position:absolute;
    background:url(../wx_images/sale_tag_none_big.png) no-repeat;
    background-size:100% auto;
    top:50%;
    right:50%;
    margin-top:-2.5em;
    margin-right:-3em;;
}
.sub-discount{
	position:absolute;
	top:0;right:0;
	width:4em;height:4em;
	background:url(../wx_images/sub_discount.png) no-repeat right top;
	background-size:100% auto;
}
.sub-hot{
	position:absolute;
	top:0;right:0;
	width:4em;height:4em;
	background:url(../wx_images/sub_hot.png) no-repeat right top;
	background-size:100% auto;
}

/*详情说明----------------------*/
.detail-info .name{
    line-height:1.3em;
    padding:.5em;
    font-weight:700;
    text-align:center;
    background:#fff;
}
.detail-info .prize{
    padding:.5em 0;
    background:#fffceb;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.detail-info .prize .weixin{
    float:left;
    text-align:left;
    margin-right:1em;
    padding-left:1em;
}
.detail-info .prize .weixin em{
    color:#f60;
}
.detail-info .prize .default{
    padding-right:1em;
    float:right;
    text-align:right;
    text-decoration:line-through;
    color:#666;
}
.detail-info .prize span em{
    font-style:normal;
}
.detail-info .param {
    padding-bottom:.6em;
    background:#fff;
}
.detail-info .param li{
    padding-top:.6em;
}
.detail-info .param li span{
    display:block;
    color:#666;
}
.detail-info .param li .key{
    color:#333;
    width:6em;
    text-align:right;
    float:left;
}
/*详情选项--------------------------*/
.detail-option{
    padding-bottom:1.2em;
    padding-top:.4em;
    background:#efefef;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.detail-option .option-line{
    display: inline-block;
    width: 100%;
    padding-top:.8em;
}
.detail-option .option-line .key{
    line-height:2em;
    width:6em;
    float:left;
    text-align:right;
}
.detail-option .option-line .value{
    margin:0 1em 0 6em;
    line-height:2em;
}
.detail-option .option-line .value:after{
    content:'.';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
.detail-option .option-line .value li, .detail-option .option-line .value input{
    text-align:center;
    float:left;
    padding:0 .5em;
    height:1.8em;
    margin:.1em .8em .1em 0;
    background:#fff;
    border:1px solid #ddd;
    color:#666;
}
.detail-option .option-line .proNum{
    max-width:4em;
}
.detail-option .option-line .value li.current{
    border:1px solid #f84d00;
    color:#f84d00;
}
.detail-option .option-line .value li.disable{
    border:1px solid #ccc;
    color:#ccc;
}

/*详情购买按钮------------------*/
.buyact{
    height:2em;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background:#fff;
    box-shadow:0 0 .5em #999;
    z-index:100;
    padding:.5em 0;
    min-width: 320px;
}
.buyact span{
    text-align:center;
    float:left;
    margin-left:1em;
    overflow: hidden;
    height:2em;
    color:#fff;
    background:#f85600;
    box-shadow:inset 0 0 1px #fa8500;
    border:1px solid #bf3800;
    border-radius:.3em;
    line-height:2em;
    padding:0 1em;
    min-width:4em;
}
.buyact span:nth-child(2){
    float:right;
    margin-right:1em;
    margin-left:0;
    background:#379808;
    border-color:#467a02;
    box-shadow:inset 0 0 1px #68bb1a;
}

/*订单确定页面-------------------------------*/
.order{
    background:#efefef;
    padding-bottom:3em
}
.order>section{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom:.6em;
    background:#fff;
}
.order>section>dl{
    clear:both;
    width:100%;
    line-height:2em;
}
.order>section>dl:after{
    display:block;
    clear:both;
    height:1px;
    margin-top:-1px;
    content:'';
}
.order>section>dl>dt{
    float:left;
    width:6em;
    text-align:right;
}
.order>section>dl>dd{
    margin-left:6.5em;
}
.order>section>dl>dd input[type=radio]{
    margin-right:.4em;
}
.order>section>dl>dd input[type=text]{
    line-height:1.6em;
}
.order>section>dl>dd span{
    display:block;
}

.order-list>div{
    border-top:1px solid #d7d7d7;
    height:5.5em;
}
.order-list>div:nth-child(1){
    border:none;
}
.order-list>div>span{
    float:left;
    overflow:hidden;
}
.order-list>div>span.img{
    width:24%;
    margin-left:1%;
    height:5.5em;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:center;
}
.order-list>div>span.info{
    width:54%;
    padding-top:.5em;
    margin-left:1%;
    height:5em;
}
.order-list>div>span.info span.title{
	display:block;
    height:2.4em;
}
.order-list>div>span.info span.param{
	display:block;
    padding-top:1em;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#666;
    font-size:.9em;
}
.order-list>div>span.prize{
    float:right;
    width:19%;
    margin-left:1%;
    padding-top:.5em;
    height:5em;
    text-align:center;
}
.order-list>div>span.prize span.weixin{
	display:block;
    height:1.2em;
}
.order-list>div>span.prize span.default{
	display:block;
    line-height:1.6em;
    font-size:.9em;
    text-decoration:line-through;
    color:#999;
}
.order-list>div>span.prize span.num{
	display:block;
    padding-top:.45em;
    font-size:.9em;
    color:#666;
}

.order .user-info>div{
    padding:.8em .5em;
}
.order .user-info span{
    line-height:1.5em;
}
.order .user-info .name{
    float:left;
    font-weight:700;
    color:#f15a22;
}
.order .user-info .phone{
    float:right;
    text-align:right;
}
.order .user-info .loc,.user-info .adress{
    display:block;
    clear:both;
    color:#666;
}
.order .user-info>div.edit{
    border-top:1px solid #ddd;
    padding:.3em 0;
    text-align:right;
    display:inline-block;
    width:100%;
}

.order .invoice dl:last-child{
    padding-bottom:.5em;
}
.order>section.invoice{
	padding:.3em 0;
}
.order .invoice .title{
    line-height:2em;
    height:2em;
    padding:0 .5em;
}
.order .invoice .title .define{
    font-size:.9em;
    line-height:1.8em;
    float:right;
    border:1px solid #467a02;
    border-radius:.3em;
    box-shadow:inset 0 1px 1px #68bb1a;
    background:-webkit-gradient(linear,left top,left bottom,from(#2f9306),to(#288905));
    color:#fff;
    width:7em;
    text-align:center;
    margin:.2em;
}
.order .invoice .title .undefine{
    font-size:.9em;
    line-height:1.8em;
    margin:.2em;
    float:right;
    border:1px solid #bf3800;
    border-radius:.3em;
    box-shadow:inset 0 1px 1px #fa8500;
    background:-webkit-gradient(linear,left top,left bottom,from(#f85600),to(#f74500));
    color:#fff;
    width:7em;
    text-align:center;
}
.order .invoice .type dd span{
    width:45%;
    float:left;
}
.order .invoice input.letterhead{
    width:90%;
}

.order .coupons{
    padding:.5em 0;
}
.order .coupons input.coupons-password{
    width:83%;
}
.order .logistic dd span.more{
    display:inline-block;
    padding-left:1em;
}
.fixedBtm{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    box-shadow:0 0 5px #999;
    margin:0;
    height:3.5em;
    background:#fff;
}
.fixedBtm .edit{
    display:block;
    padding:.6em 1em;
}
.fixedBtm .edit input[type=number]{
    line-height:2em;
    border:1px solid #ddd;
    border-radius:.3em;
    width:5em;
    text-indent:.5em;
}
.fixedBtm .order-prize-name{
    width:22%;
    float:left;
    line-height:3.5em;
    text-align:right;
}
.fixedBtm .order-prize-value{
    font-weight:700;
    float:left;
    font-size:1.2em;
    color:#f60;
    line-height:2.9em;
}
.fixedBtm .go-pay {
    line-height: 2.2em;
    position: absolute;
    top: .6em;
    right: 1em;
    border-radius: .3em;
    color: #fff;
    width: 7em;
    text-align: center;
}
/*订单详情------------------------*/
.orderTip{
	text-align:center;
	line-height: 2em;
	color: #fff;
	background: #f60;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.order-none{
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	background:#f0f0ef url(../wx_images/order_none.jpg) no-repeat center 30%;
	background-size:30% auto;
}
.order>.invoice>dl>dd>span{
	display:inline-block;
}
.order .order-detail-info{
	background:none;
	border:none;
	margin-bottom:0;
}
.order .order-detail-info>dl{
	border-bottom:1px solid #ccc;
}
.order .order-detail-info>dl>.title{
	text-indent:1em;
}
.order .order-detail-info>dl>p{
	text-indent:1em;
}
.order .order-detail-info>dl .beRight{
	padding-right:1em;
	margin-left:0;
}
.order .order-detail-info>dl .beLeft{
	padding-left:1em;
}
.order .order-detail-info>.user-info{
	padding:0 1em;
	width:auto;
}
.order>.oderCount>dl>dd span{display:inline-block}
.order>.oderCount{
	border:0;
	margin-bottom:0;
}
.order>.oderCount>dl>dd.beRight{
	padding-right:1em;
    margin-left:0;
}
.order>.oderCount>.title{padding-left:1em;line-height:1.5em;}
/*支付界面---------------------------------------*/
.payment{
    background:#efefef;
}
.payment>section{
    padding:.5em 1em;
}
.payment>section>.title{
    padding-bottom:.5em;
}
.payment .baseinfo{
    border-bottom:1px solid #ccc;
    line-height:1.5em;
}
.payment .wallet .walletline{
    background:#fff;
    border:1px solid #ccc;
    color:#666;
    margin-bottom:.5em;
    padding:.3em;
    line-height:2.2em;
    font-size:.8em;
}
.payment .wallet .walletline span{
    float:left;
}
.payment .wallet .walletline:after{
    content:'';
    clear:both;
    display:inline-block;
    width:100;
}
.payment .wallet .walletline .walletnum{
    padding:1px .3em;
    margin-top:-1px;
}
.payment .wallet .walletline .walletnum input{
    width:6.5em;
    line-height:1.8em;
    border:none;
    text-indent:.2em;
}
.payment .wallet .walletline .btn_green{
    margin-top:.1em;
    margin-left:1em;
    padding-left:1em;
    padding-right:1em;
}
.payment .wallet .walletline .select{
    width:1.6em;
    margin-top:.3em;
    height:1.6em;
    float:right;
}
.payment .wallet .numedit .walletnum{
    padding:0 .3em;
    border:1px solid #ddd;
}
.payment .wallet .numedit .walletnum input{
    width:8em;
    text-indent:.2em;
}
.payment .wallet .numedit .select{
    display:none;
}
.payment .bankcard .cardlist>li{
    font-size:.8em;
    color:#666;
    background:#bbb;
    padding:.7em;
    line-height:1.5em;
    margin-bottom:.7em;
}
.payment .bankcard .cardlist .select{
    width:1.6em;
    height:1.6em;
    float:right;

}
.payment .bankcard .addcard_btn{
    width:100%;
    height:2em;
    line-height:2em;
    background:#fff;
    border:1px solid #ddd;
    text-align:center;
    border-radius:.4em;
    box-shadow:0 1px 0 #ddd;
}
.payment .bankcard .addcard_btn .icon_text{
    background:url(../wx_images/add_orange.png) 0 60% no-repeat;
    background-size:auto 80%;
    position:relative;
    text-align:center;
    padding-left:1.5em;
}
.payment .pay_btn{
    background:-webkit-gradient(linear,left top,left bottom,from(#f26226),to(#ef4f1d));
    text-align:center;
    line-height:2.2em;
    color:#fff;
    border-radius:.4em;
    box-shadow:0 1px 1px #bd3b0a;
}
.payment .other_pay{
    margin-top:1.5em;
}
.payment .otherlist li{
    border:1px solid #dedede;
    display:inline-block;
    width:100%;
    background:#fff url(../wx_images/arrow_right.png) 95% 50% no-repeat;
    background-size:auto 18%;
}
.payment .otherlist li .weixin_pay{
    display:block;
    margin:.8em;
    line-height:4em;
    text-indent:8em;
    background:url(../wx_images/wxicon.png) 2em 0 no-repeat;
    background-size:contain;
}

/*我的订单-----------------------*/
.myorder li{
    padding:.1em;
    margin:1em .5em;
    box-shadow:0 1px 2px #666;
    background:#fff;
}
.myorder li>div{
    padding:.6em;
}
.myorder li .myOrderTitle{
    position:relative;
    text-align:center;
    line-height:1.4em;
}
.orderState{
    background:#f15a22;
    color:#fff;
    position:absolute;
    padding:.3em 1.5em .3em 1em;
    top:.3em;
    left:-.1em;
    overflow:hidden;
}
.orderState i{
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border:1.05em solid #f15a22;
    border-left-width:.8em;
    border-top-color:#fff;
    border-right:0;
    border-bottom-color:#fff;
}
.orderState.statePay{
    background:#f15a22;
}
.orderState.statePay i{
    border-left-color:#f15a22;
}
.orderState.stateLogistic{
    background:#ed1c24;
}
.orderState.stateLogistic i{
    border-left-color:#ed1c24;
}
.orderState.stateFalse{
    background:#696969;
}
.orderState.stateFalse i{
    border-left-color:#696969;
}
.orderState.stateSuccess{
    background:#2e9206;
}
.orderState.stateSuccess i{
    border-left-color:#2e9206;
}
.myorder li .myOrderCon{
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    display:inline-block;
    width:100%;
    padding:0;
}
.myorder li .myOrderCon .img{
    float:left;
    width:5.5em;
    height:5.5em;
    overflow:hidden;
    margin:.5em;
}
.myorder li .myOrderCon .img img{
    height:100%;
}
.myorder li .myOrderCon .textinfo{
    margin-left:6em;
}
.myorder li .myOrderCon .textinfo .title{
    padding:.6em 0 0;
    height:2.4em;
    overflow:hidden;
}
.myorder li .myOrderCon .textinfo .date{
    font-size:.8em;
    color:#999;
    line-height:2em;
}
.myorder li .myOrderCon .textinfo .count{
    font-size:.8em;
    color:#999;
    float:left;
}
.myorder li .myOrderCon .textinfo .money{
    float:right;
    padding-right:.5em;
    color:#f30;
    font-size:1.2em;
}
.myorder li .myOrderOpt{
    text-align:right;
}
.myorder li .myOrderOpt .btn01{
	margin-left:.5em;
}

/*微信支付------------------------*/
.weixinpay .payinfo{

}
.weixinpay .payinfo .count{
    width:60%;
    margin:0 auto;
    line-height:2em;
    background:#fff;
    text-align:center;
}
.weixinpay .payinfo .money{
    text-align:center;
    line-height:1.5em;
    font-size:2.5em;
    color:#000;
    padding-bottom:.5em;
}
.weixinpay .otherinfo{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:#fff;
    padding:1em 0;
    margin-bottom:2em;
}
.weixinpay .otherinfo>div{
    display:inline-block;
    width:100%;
    line-height:2em;
}
.weixinpay .otherinfo>div>span:nth-child(1){
    width:5em;
    float:left;
    text-align:right;
    color:#999;
}
.weixinpay .otherinfo>div>span:nth-child(2){
    display:block;
    margin-left:5.5em;
}
.weixinpay .otherinfo .payee{

}
.lineBtn{
    padding:.5em 0;
    text-align:center;
}

/*搜一搜-----------------------------*/
.asearch{
    padding-top:6.8em;
}
.searchsec{
    display:inline-block;
    width:100%;
    position:fixed;
    background:#efefef;
    z-index:10;
    top:0;
    left:0;
    border-bottom:1px solid #ccc;
}
.searchsec .input{
    border:1px solid #b7b7b7;
    border-radius:.4em;
    border-top-color:#9e9e9e;
    border-left-color:#9e9e9e;
    background:#fff url(../wx_images/magnifier.png) no-repeat .5em center;
    background-size:auto 50%;
    margin:.5em;
    overflow:hidden;
    height:2.4em;
    position:relative;
}
.searchsec .input>div{
    position:absolute;
    top:0;
    bottom:0;
    left:2em;
    right:5em;
}
.searchsec .input>div>input{
    width:100%;
    border-radius:.3em;
    border:none;
    line-height:2.4em;
    margin:0;
    padding:0;
}
.searchsec .input span{
    position:absolute;
    right:0;top:0;bottom:0;
    line-height:2.4em;
    width:5em;
    text-align:center;
    border-radius:.3em;
}
.searchsec .pannel{
    margin:.5em .5em .5em .5em;
    height:2.8em;
    text-align:center;
}
.searchsec .pannel span{
    border:1px solid #2a8706;
    border-right-color:#cccccc;
    border-right-width:0;
    box-shadow:0 1px 1px #c3d281;
    line-height:2.5em;
    background:#fff;
    float:left;
}
.searchsec .pannel span:first-child{
    border-radius:.4em 0 0 .4em;
}
.searchsec .pannel span:last-child{
    border-radius:0 .4em .4em 0;
    border-right-width:1px;
    border-right-color:#2a8706;
}
.searchsec .pannel span.current{
    background:-webkit-gradient(linear,left top,left bottom,from(#2f9306),to(#288905));
    color:#fff;
}
.searchsec .pannel span i{
	display:inline-block;
	position:relative;
    top:.1em;
    left:.2em;
    width:.5em;
    height:.8em;
    background:url(../wx_images/sort_none.png) no-repeat center center;
    background-size:100%;
}
.searchsec .pannel span i.asc{
	background-image:url(../wx_images/sort.png);
    display:inline-block;
}
.searchsec .pannel span i.des{
	background-image:url(../wx_images/sort.png);
    -webkit-transform:rotate(180deg);
    display:inline-block;
}
.proposesec{
    background:#fff;
    border-top:1px solid #ddd;
}
.proposesec li{
    line-height:3em;
    color:#666;
    border-bottom:1px solid #eee;
    padding-left:2em;
}
.proposesec .hotlist>li>span.sequence{
    display:inline-block;
    line-height:1.8em;
    width:1.8em;
    text-align:center;
    background:#f1f1f1;
    border:1px solid #cccccc;
    border-radius:.3em;
    margin-right:2em;
}
.proposesec .hotlist>li:nth-child(1)>span.sequence,
.proposesec .hotlist>li:nth-child(2)>span.sequence,
.proposesec .hotlist>li:nth-child(3)>span.sequence{
    background-color:#f84b00;
    border-color:#af3500;
    color:#fff;
}
.proposesec .hislist .clearhis{
    background:#efefef;
    text-align:center;
    padding:.8em 0 1.5em;
    box-shadow:inset 0 1px 0 #ccc;
}
.proposesec .hislist .clearhis i{
    width:80%;
    text-align:center;
    border:1px solid #e5e5e5;
    background:#fff;
    color:#666;
    line-height:2em;
    display:inline-block;
    border-radius:.4em;
    box-shadow:0 1px 0 #ccc;
    font-style:normal;
}

.resultsec{
    background:#fff;
}
.resultlist .resultnone{
    padding-top:5em;
    text-align:center;
}
.resultlist .resultnone img{
    width:5em;
    height:5em;
}
.resultlist .resulthas{
    border-top:1px solid #ccc;
}
.resultlist .resulthas li{
    background:#fff;
    border-bottom:1px solid #ccc;
    display:inline-block;
    width:100%;
}
.resultlist .resulthas li .img{
    float:left;
    margin:.5em;
    border:1px solid #eee;
    width:6em;
    height:6em;
    padding:0;
    text-align:center;
}
.resultlist .resulthas li div{
    color:#999;
    padding-top:.55em;
}
.resultlist .resulthas li div span{
    margin-left:.3em;
}
.resultlist .resulthas li div.title{
    color:#333;
    height:2.4em;
    overflow:hidden;
}
.resultlist .resulthas li div.outfostock{
    color:#f60;
}

/*购物车-----------------------*/
.cartTip{
    text-indent:2em;
    line-height:2em;
    color:#fff;
    background:#2e9206 url(../wx_images/tipicon.png) no-repeat .5em center;
    background-size:auto 50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.cartList{
    padding-bottom:3.5em;
}
.cartList li{
    height:6em;
    padding:1em .5em;
    background:#fff;
    border-bottom:1px solid #ccc;
}
.cartList li:nth-child(2n){
    background:#efefef;
}
.cartList li .select_orange,.cartList li .selectd_orange{
    float:left;
    width:1em;
    margin-top:2.5em;
}
.cartList li .img{
    margin:0 .5em;
    float:left;
    height:6em;
    width:6em;
    border:1px solid #ddd;
}
.cartList li .img img{
    max-width:6em;
    max-height:6em;
}
.cartList li .param{
    margin-left:8.5em;
}
.cartList li .param .title{
    height:2.4em;
    overflow:hidden;
}
.cartList li .param .stock input{
    width:3em;
    border:1px solid #ccc;
    border-radius:.3em;
}
.ListOpt{
    height:1em;
    padding:1em 0;
    width:100%;
}
.ListOpt>span{
    margin:0 2em 0 .5em;
    float:left;
    line-height:1em;
    color:#2e9206;
}

/*收货地址---------------------*/
.adressList{

}
.adressList li{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top:.5em;
    background:#fff;
}
.adressList li .adressInfo{
    padding:.5em;
}
.adressList .adressInfo div{
    line-height:1.4em;
    color:#666;
}
.adressList .adressInfo .title{
    float:left;
    display:inline-block;
    width:50%;
    color:#f60;
    font-weight:bold;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.adressList .adressInfo .phone{
    float:left;
    display:inline-block;
    width:50%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align:right;
    color:#333;
}
.adressList li .adressOpt{
    padding:.5em 0 .5em .5em;
    border-top:1px solid #ccc;

}
.addressAdd{
    text-align:center;
    padding:1em 0;
}

/*新建收货地址--------------------*/
.addressForm{
    margin-top:1em;
    background:#fff;
    border-top:1px solid #ccc;
}
.addressForm dl{
    border-bottom:1px solid #ccc;
    line-height:3em;
}
.addressForm dd input{
    border:none;
}
.addressForm dd textarea{
    margin-top:1em;
    width:90%;
}

/*我的账户-----------------------*/
.accountBase{
    display:inline-block;
    width:100%;
    padding:1em 0;
}
.accountBase>dt{
    padding-left:1em;
    float:left;
    text-align:center;
}
.accountBase>dt>img{
    border:1px solid #ccc;
    border-radius:.2em;
    width:5em;
    height:5em;
}
.accountBase>dd{
    margin-left:7em;
    line-height:1.8em;
}
.accountBase>dd>p>b{
    margin-right:.5em;
    color:#f30;
}
.accountBase>dd>p:first-child{
    padding-top:.5em;
}
.accountFunc{
    display:inline-block;
    width:80%;
    margin:5% 10% 0;
}
.accountFunc>li{
    float:left;
    width:50%;
    text-align:center;
}
.accountFunc>li>span{
    display:inline-block;
    width:5em;
    height:8em;
}
.accountFunc>li>span>i{
    display:inline-block;
    width:5em;
    height:5em;
    border:1px solid #ccc;
    border-radius:3em;
    background-size:80%;
    background-position:center center;
    background-repeat:no-repeat;
}
.ac-icon01 i{
    background-image:url(../wx_images/ifunc_01.png);
}
.ac-icon02 i{
    background-image:url(../wx_images/ifunc_02.png);
}
.ac-icon03 i{
    background-image:url(../wx_images/ifunc_03.png);
}
.ac-icon04 i{
    background-image:url(../wx_images/ifunc_04.png);
}

/*个人资料----------------------*/
.accountInfo{

}
.accountInfo .accountIcon .ilogo{
    display:inline-block;
    width:4em;
    height:4em;
    margin:.5em 0 .1em 2.2em;
    border:1px solid #ccc;
    border-radius:2em;
    overflow:hidden;
}
.accountInfo .accountIcon .ilogo img{
    width:100%;
    height:100%;
}
.accountInfo section{
    border-top:1px solid #ccc;
    margin-bottom:.5em;
}
.accountInfo section dl{
    background:#fff;
    border-bottom:1px solid #ccc;
    line-height:3em;
}
.accountInfo section dl:after{
    content:'';
    display:block;
    clear:both;
    height:0;
}
.accountInfo section dl input[type=radio]{
    margin-right:.5em;
}

/*个人积分-------------------*/
.myintegral{

}
.myintegral .integralBase{
    padding:.5em 0;
}
.myintegral .integralBase li{
    line-height:1.8em;
    padding-left:2em;
}

.integralPro{
    padding-bottom:3.5em;
}
.integralPro .proImg{
    width:100%;
    height:15em;
    text-align:center;
    position:relative;
    overflow:hidden;
}
.integralPro .proImg .shadowbtm{
    position:absolute;
    left:0;
    right:0;
    bottom:-50px;
    height:50px;
    box-shadow:0 0 3em #666;
    z-index:1;
}
.integralPro .proInfo .proBaseInfo{
    border-bottom:1px solid #ccc;
    padding:.8em 1em .5em;
    line-height:1.5em;
}
.integralPro .proInfo .proDetailInfo{
    padding:.5em 1em;
    line-height:1.8em;
    color:#666;
}

.integralRec{

}
.integralRec .recSearch{
    padding:.5em 1em;
    border-bottom:1px solid #ccc;
}
.integralRec .recSearch:after{
    content:'';
    display:block;
    height:0;
    clear:both;
}
.integralRec .recSearch>p{
    padding:.5em 0;
}
.integralRec .recSearch .recCondition{
    float:left;
}
.integralRec .recSearch .recCondition span{
    float:left;
    line-height:2.2em;
}
.integralRec .recSearch .recCondition div{
    width:4em;
    float:left;
    text-align:center;
}
.integralRec .recSearch .recCondition div input{
    float:left;
    border:none;
    width:4em;
    height:1.2em;
    background:#efefef;
    text-align:center;
}
.integralRec .recSearch .recAction{
    float:right;
    margin-top:.2em;
}
.integralRec .recList{
    padding:.5em;
}
.integralRec .recList li{
    background:#fff;
    line-height:2.5em;
    color:#888;
    border-top:1px solid #ccc;
    text-align:center;
    position:relative;
}
.integralRec .recList li:after{
    clear:both;
    content:'';
    display:block;
    height:0;
}
.integralRec .recList li.th {
    font-weight:700;
    color:#000;
    border-top:none;
}
.integralRec .recList li span{
    height:2.4em;
    overflow:hidden;
}
.integralRec .recList li span:first-child{
    width:7em;
    float:left;
}
.integralRec .recList li span:last-child{
    width:5em;
    float:right;
}
.integralRec .recList li span:nth-child(2){
    position:absolute;
    top:0;
    left:7em;
    right:5em;
}

/*我的优惠券---------------*/
.couponPage{
    padding-top:4em;
}
.couponPage .couponList>ul{
    margin:.5em;
}
.couponPage .couponList>ul>li{
    border-top:1px solid #f60;
    border-bottom:1px solid #f60;
    background:#f60;
    color:#fff;
    margin-bottom:.5em;
    display:inline-block;
    width:100%;
    line-height:1.5em;
    position:relative;
}
.couponPage .couponList>ul>li .couponLeft{
    background:#fff;
    color:#666;
    float:left;
    width:6em;
    text-align:center;
    padding:.5em 0;
    height:4.5em;
    overflow:hidden;
}
.couponPage .couponList>ul>li .couponRight{
	position:absolute;
    left:6.5em;
    top:.3em;
    right:0;
    line-height:1.6em;
    height:5.2em;
    overflow:hidden;
}
.couponPage .couponList>ul>li .couponRight>p{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.couponPage .couponList li.coupon_green{
    border-color:#390;
    background-color:#390;
}
.couponPage .couponList li.coupon_done{
    border-color:#ddd;
    background:#999 url(../wx_images/coupon_done.png) no-repeat right top;
    background-size:contain;
}
.couponPage .couponList li.coupon_false{
    border-color:#ddd;
    background:#999 url(../wx_images/coupon_false.png) no-repeat right top;
    background-size:contain;
}

/*新品首发--------------------*/
.starters{

}
.productList{
    padding-bottom:.5em;
}
.productList li{
    margin:.5em .5em 0;
    background:#fff;
    border-bottom:1px solid #ccc;
}
.productList li:after{
    display:block;
    content:'.';
    clear:both;
    height:0;
    overflow:hidden;
}
.productList li .img{
    float:left;
    margin:.5em 1em .5em .5em;
    width:8em;
    max-height:8em;
    text-align:center;
    padding:0;
}
.productList li .title{
    color:#333;
    height:3.6em;
    overflow:hidden;
    padding:.5em 0 0;
}
.productList li .prize{
    line-height:1.5em;
}

/*限时疯抢---------------------*/
.proListBig{
    padding-bottom:.5em;
}
.proListBig li{
    margin:.5em .5em 0;
    padding:.3em;
    background:#fff;
    border-bottom:1px solid #ccc;
    border-radius:.5em;
    overflow:hidden;
}
.proListBig li:after{
    display:block;
    content:'.';
    clear:both;
    height:0;
    overflow:hidden;
}
.proListBig li .img{
    border:1px solid #ccc;
    text-align:center;
    overflow:hidden;
    position:relative;
}
.proListBig li .img:after{
    content:',';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
.proListBig li .img img{
    width:100%;
    float:left;
}
.proListBig li .img p{
    background: rgba(0,0,0,.5);
	width: 100%;
	padding: .5em 0;
	min-height: 2.4em;
	line-height: 1.2em;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}
.proListBig li .prize{
    line-height:1.5em;
    padding:.5em;
}
.proListBig li .prizeLeft{
	float:left;
	width:10em;
	line-height:1.5em;
}
.proListBig li .buy{
    padding:0 .5em;
    margin:.5em 0;
    position:relative;
}
.proListBig li .prizeLeft .fdel{
	margin-left:4em;
	line-height:1.0em;
}
.proListBig li .buy:after{
    display:block;
    content:'.';
    clear:both;
    height:0;
    overflow:hidden;
}
.fRightBottom{
	position:absolute;
	bottom:-.1em;right:.5em;
	line-height:2em;
}
.proIntroText{
	padding-top:.2em;
}
.proListBig li .buy .btnOrange{
    float:right;
}
.proListBig li .buy .limitTime{
    margin-top:.25em;
}
.proListBig li .buy .floatTop{
	position:absolute;
	right:0;
	top:-1.5em;
}
.limitTime{
    float:left;
    padding-left:1.5em;
    background:url(../wx_images/alarm.png) no-repeat left top;
    background-size:auto 90%;
    height:1.7em;
}
.limitTime span{
    background:#666;
    color:#fff;
    padding:.2em .1em;
    float:left;
    margin-left:.15em;
}
.limitTime em{
    font-style:normal;
    float:left;
}
.detail-option .limitTime{
    margin-top:.3em;
}
.detail-option .slideBar{
    margin-top:.5em;
}
.slideBar{
    background:#999;
    line-height:1.2em;
    text-align:center;
    color:#fff;
    position:relative;
    height:1.2em;
}
.slideBar i{
    -webkit-transition:100ms;
    background:#f60;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:0;
    z-index:1;
}
.slideBar span{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:2;
}

/*品牌库--------------*/
.brandLibrary{
    margin-top:.5em;
}
.brandLibrary ul li{
    overflow:hidden;
    margin:0 .5em .5em;
}
.brandLibrary .brandLeft{
    width:5em;
    height:5em;
    float:left;
}
.brandLibrary .brandRight{
    margin-left:5em;
    height:5em;
}
.brandLibrary .brandRight img{
    width:100%;
}
.brandHead .brandImg{
    width:100%;
    height:8em;
    overflow:hidden;
}
.brandHead .brandImg img{
    width:100%;
    height:auto;
    max-height:none;
}
.brandHead .brandNav{
    height:1.2em;
    padding:.4em 0;
    background:#2d9206;
}
.brandHead .brandNav li{
    float:left;
    line-height:1.2em;
}
.brandHead .brandNav li em{
    border-left:1px solid #fff;
    display:block;
    text-align:center;
    color:#fff;
}
.brandHead .brandNav li:first-child em{
    border-left:0;
}
.brandFilter{
    line-height:1.5em;
    padding:0 .5em;
}
#wrapper.brandCon{
    top:10em;
}
.brandCon .brandList li{
    height:12em;
}
.brandCon .brandList li section{
    float:left;
    height:12em;
    width:47%;
    margin-left:2%;
}
.brandCon .brandList li section .itemBox{
    background:#fff;
    border:1px solid #ddd;
}
.itemImg{text-align:center;height:7em;overflow:hidden;}
.itemImg img{height:7em;}
.itemTitle{font-size:.8em;line-height:1.2em;height:2.4em;overflow:hidden;padding:0 .5em;}
.itemBuy{font-size:.8em;padding:.5em;}
.btnCart{float:right;background:url(../wx_images/buyCart.png) center center;
    background-size:100% 100%;width:2.5em;height:1.4em;}

/*私人定制--------------------------*/
.personal {

}
.personalList>li{
    margin:.5em 0;
}
.personalList>li>.recom{
    float:left;
    width:33.33%;
    height:12em;
    overflow:hidden;
    position:relative;
}
.personalList>li>.recom>i{
    position:absolute;
    top:0;left:0;
    background:url(../wx_images/recom.png) no-repeat left top;
    background-size:contain;
    width:2em;height:2.2em;
}
.personalList>li>.recom img{
    width:100%;
    height:100%;
}
.personalList>li>.recom .text{
    padding:.2em .3em;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(244,160,0,.8);
    color:#fff;
}
.personalList>li>.recom .text>span{
    padding-right:1.2em;
    background:url(../wx_images/arrowi.png) no-repeat right center;
    background-size:1em 1em;
}
.personalList>li>section{
    background:#fff;
    float:left;
    width:33.33%;
    height:6em;
    overflow:hidden;
    text-align:center;
}
.personalList>li>section>div{
    border-right:1px dotted #ddd;
    border-bottom:1px dotted #ddd;
}
.personalList>li>section>div>img{
    width:80%;
}
.personalList>li>section>div>p{
    text-align:center;
}
.personalList .persEdit{
    background:#fff;
    line-height:1.5em;
    margin-bottom:.5em;
    display:block;
    text-align:center;
    border:1px solid #ddd;
    border-radius:.2em;
    color:#666;
    width:90%;
    margin-left:5%;
    box-shadow:1px 1px 0 #ccc;
}
.persEditList{
    margin:0 .5em;
}
.persEditList>li{
    position:relative;
    background:#fff;
    margin:.5em 0;
    box-shadow:.05em .05em .1em #ddd;
}
.persEditList>li>.left{
    float:left;
    width:90%;
}
.persEditList>li>.left>img{
    float:left;
}
.persEditList>li>.left span{
    position:absolute;
    top:.2em;left:.2em;
}
.persEditList>li>.right{
    width: 10%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.persEditList>li>.right>div{
    position:absolute;
    left:50%;top:50%;
    margin-left:-.4em;
    margin-top:-.5em;
}

/*查看物流---------------------------------*/
.logistics{
    padding-top:3.5em;
}
.LogisticsList>li{
    margin:.5em .5em 1em;
    padding-bottom:.5em;
    position:relative;
    background:#fff;
    box-shadow:0 1px 2px #ccc;
}
.LogisticsList>li .logBtm{
    position:absolute;
    left:0;
    bottom:-.5em;
    height:.5em;
    width:100%;
    background:url(../wx_images/logiBtm.png) repeat-x;
    background-size:contain;
}
.LogisticsList .logslide{
    margin:0 .5em;
    padding:1.2em 0 3.5em;
}
.LogisticsList .logslide .baseline{
    height:.2em;
    background:#ccc;
    color:#f60;
}
.LogisticsList .logslide .baseline .atline{
    width:100%;
    height:.2em;
    background:#f60;
    position:relative;
}
.LogisticsList .logslide .baseline .atline>.forready{
    position:absolute;
    left:50%;
    top:-1.8em;
    margin-left: -2em;
    width:3em;
    font-size:.6em;
    width:4em;
}
.LogisticsList .logslide .baseline .atline .end>.shipping{
position: absolute;
left: 3em;
top: -.5em;
width: 4em;
}
.LogisticsList .logslide .baseline .atline .end{
    position: absolute;
    top: -1.3em;
    width: 2.8em;
    font-size: .6em;
    right: 0;
    height: 2.8em;
}
.LogisticsList .logslide .baseline .atline .end>i{
    position:absolute;
    background:#fff url(../wx_images/truck.png) no-repeat center center;
    background-size:70% auto;
    top:0;
    left:0;
    width:2.8em;
    height:2.8em;
    box-shadow:1px 1px 5px #aaa;
    border-radius:1.5em;
}
.LogisticsList .logslide .baseline .start {
	position: absolute;
    top: 3em;
    left: .5em;
    font-size: .8em;
    width: 7em;
    line-height: 1.1em;
}
.LogisticsList .logslide .baseline .endT {
	position: absolute;
    top: 3em;
    left: 50%;
    font-size: .8em;
    width: 7em;
    margin-left: -3.5em;
    text-align: center;
    line-height: 1.1em;
}
.LogisticsList .logslide .baseline .finish {
    position: absolute;
    top: 3em;
    right: .5em;
    font-size: .8em;
    width: 7em;
    text-align: right;
    line-height: 1.1em;
}
.LogisticsList .logInfo{
}
.LogisticsList .logInfo .textinfo{
    margin:.5em .5em 0;
    padding:.5em;
    line-height:1.2em;
    background:#ccc url(../wx_images/arrow_right.png) no-repeat 95% center;
    background-size:.8em auto;
}
.LogisticsList .logInfo .logProcess{
    position:relative;
}
.LogisticsList .logInfo .logProcess .logVertical{
    position:absolute;
    top:0;
    bottom:0;
    left:1.5em;
    width:.1em;
    background:#ccc;
}
.LogisticsList .logInfo .logProcess .logVertical>i{
    position:absolute;
    top:0;left:-.45em;
    height:0;
    border:.5em solid #fff;
    border-bottom:none;
    border-top-color:#ccc;
}
.LogisticsList .logInfo .logProcess .prowrap{
    padding:1em .5em 0em 2.5em;
    position:relative;
}
.LogisticsList .logInfo .logProcess .prowrap>i{
    position:absolute;
    top:50%;
    left:1.1em;
    width:1.1em;
    height:1em;
    background:url(../wx_images/logiIcon.png) no-repeat;
    background-size:contain;
}
.LogisticsList .logInfo .logProcess .cur>i{
    background-image:url(../wx_images/logiIcon_.png);
}
.LogisticsList .logInfo .logProcess .prowrap>div{
    padding:.2em .5em;
    line-height:1.4em;
    border:1px solid #ddd;
    color:#ccc;
}
.LogisticsList .logInfo .logProcess .prowrap.cur>div{
    color:#f60;
}

/*登录页面----------------*/
.loginBg{
position:fixed;
top:0;left:0;right:0;bottom:0;
z-index:1;
    background: url(../wx_images/login_bg.jpg);
    background-size: 100% 100%;
    min-height:100%;
}
.logininput {
position:absolute;
z-index:2;
    left:5%;right:5%;
    top:0;bottom:0;
}
.logininput .btmBtn {
	padding-bottom:1em;
}
.logininput .btmBtn div{
	width:100%;
}
.logininput .btmBtn div img{
	height:1.5em;
	position:relative;
	top:.4em;
	margin-right:.4em;
}
.logininput .loginlogo {
	position:relative;
	margin-top:1em;
    display: block;
    width: 100%;
    height: 5.6em;
    overflow: hidden;
    background: url(../wx_images/logo.png) no-repeat center center;
    background-size: contain;
}
.logininput .inputbox {
    margin-top: 1em;
    width: 100%;
    position: relative;
    height: 3em;
    line-height: 3em;
    border: 1px solid #b7b7b7;
    background: #fff url(../wx_images/input_username_icon.jpg) no-repeat .8em center;
    background-size: auto 70%;
}
.logininput .inputtip{
	margin-top:.5em;
	color:#f00;
}
.logininput .password{
    background-image:url(../wx_images/input_password_icon.jpg);
}
.logininput .inputbox div {
    position: absolute;
    top: 0;
    left: 3.5em;
    right: .3em;
    bottom: 0;
}
.logininput .inputbox div input {
    width: 100%;
    height:1.5em;
    line-height: 1.5em;
    border: none;
    color:#2f9306;
}
.logininput .other {
    width: 100%;
    height: 2em;
    margin-top:.5em;
    line-height: 2em;
}
.logininput .other .select{
    margin:.5em;
}
.logininput .other .link {
    float: right;
    text-decoration: underline;
    color: #f30;
}

.error .inputbox{
	border-color:#f00;
}
.error .inputbox div input{
	color:#f00;
}
.btmBtn {
    text-align: center;
}
.btmBtn div {
    margin-top: 1em;
}
.otherLogin{
    position:relative;
    height:10em;
}
.otherLogin .otherTitle{
    margin-top:1em;
    text-align:center;
    width:100%;line-height:2em;
    overflow:hidden;
    position:relative;
}
.otherLogin .otherTitle i{
    position:absolute;
    top:50%;border-top:1px solid #5d9e53;
    height:1px;
}
.otherLogin .otherTitle i:first-child{
    left:0;right:50%;margin-right:4.5em;
}
.otherLogin .otherTitle i:last-child{
    left:50%;right:0;margin-left:4.5em;
}
.otherLogin .otherbtn{
    position:absolute;
    top:3em;background:url(../wx_images/login_qq.png) center center no-repeat;
    background-size:contain;
    width:5em;height:5em;
}
.otherLogin .login_qq{
    left:0;
}
.otherLogin .login_weibo{
    left:50%;
    margin-left:-2.5em;
    background-image:url(../wx_images/login_weibo.png);
}
.otherLogin .login_weixin{
    right:0;
    background-image:url(../wx_images/login_weixin.png);
}

/*产品详情弹出层---------------------*/
.proDialog{
    position:fixed;
    bottom:0;left:0;right:0;
    border-top:.3em solid #666;
    box-shadow:0 0 1em #333;
    z-index:8888;
}
.proDialog .close{
    position:absolute;
    top:-.7em;right:.1em;
    width:1.2em;height:1.2em;
    background:#fff;
    border:2px solid #666;
    border-radius:1em;
    text-align:center;
    line-height:1.05em;
    font-size:1.6em;
    font-family: arial;
}
.proDialog{background:#fff;}
.proDialog>.order-list>div>span.info{width:70%;}
.proDialog span.info p{line-height:1.5em;height:1.5em;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.proDialog span.info p span{margin-right:.5em;}
.proDialog span.info p span span{margin:0;}
.proDialog .paramtitle{line-height:2em;text-align:center;border-top:1px solid #ccc;background:#fcefa1;}

/*促销活动----------------*/
.promotions .brandHead{border-bottom:1px solid #fff;}
.promotions #wrapper.brandCon{
    top:8.5em;
}
.promotions-class{
    border-radius:1em 0 0 1em;
    font-size:.8em;
    color:#fff;
    line-height:1.8em;
    text-indent:1em;
    margin-bottom:.5em;
    margin-left:.2em;

}


/*系统错误---------------------*/
.syserror{
    text-align:left;
    background:url(../wx_images/sad.png) no-repeat center 1em;
    background-size:auto 5em;
    padding:5em 2em 0;
}
.syserror h1{
    padding-top:20px;
    font-size:1.2em;
    line-height:2em;
}
.syserror p{
    color:#999;
}
.syserror .errorAction{
    padding-top:30px;
    line-height:2em;
}
.syserror .errorAction a{
    color:#369;
    display:block;
    padding-left:2em;
}
/** 输入框错误样式 **/
.span_error {
    color:#ed1c24;
}

/*每日优选-------------------*/
.preferred {
	padding-bottom:3.5em;
}
.preferred .detail-img{
	border:none;
}
.preferred-info .name{
	background:#fff;
	padding:.5em;
	line-height:1.2em;
}
.preferred-info .prize{
	font-size:.9em;
	padding:.5em;
	background:#fff;
}
.preferred-info .prize .weixin{
	font-size:1.1em;
}
.preferred-info .prize .discount{
	position:relative;
	top:-.1em;
	background:#288905;text-align:center;
	color:#fff;border-radius:.2em;
	padding:.2em;
	font-size:.9em;
}
.preferred-info .numline{
	padding:.5em;
	background:#fff;
}
.preferred-info .numline input{
	width:4em;
	line-height:1.8em;
	text-align:center;
	border-radius:.2em;
	padding:0;margin:0;
	border:1px solid #ccc;
}
.preferred-param{
	background:#fff;
	font-size:.8em;
	padding-bottom:.5em;
}
.preferred-param>div.title{
	margin:0 .3em;
	height:2em;
	background:url(../wx_images/detail-icon.png) no-repeat right bottom;
	background-size:contain;
	border-bottom:1px dotted #f60;
}
.preferred-param>div{
	position:relative;
	display:block;
	padding-top:.2em;
}
.preferred-param>div:after{
	clear:both;
	display:block;
	content:'.';
	overflow:hidden;
	height:0;
}
.preferred-param>div>dt{
	line-height:2em;
	background:#666;
	color:#fff;
	position:absolute;
	top:.2em;left:.3em;bottom:0;
	width:6em;
	padding:0 .2em;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.preferred-param>div>dd{
	margin-left:6.8em;
	margin-right:.3em;
	padding:0 .2em;
	background:#e4e4e4;
	line-height:2em;
}
.preferred-intro img{
	float:left;
}
