@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.DisplayAdminLink)
{
    <li class="line">|</li>
    <li class="display">
        <a href="@Url.Content("~/admin")">@T("Account.Administration")</a>
    </li>
}