@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_sale.css");
}
<div class="container mar_b_20 mar_t_20 clearfix">
    <div class="page-body mar_t_20">
        @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
    </div>
</div>
