@charset "utf-8";
/*
for all---------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,em,strong,sub,sup,pre,form,label,input,button,select,textarea,p,th,td{margin:0; padding:0}
body{background:#fff;min-width:1140px; color:#666; font:normal 12px/1.5em microsoft yahei, Arial;}
p{line-height:150%; margin-bottom:10px;}
li{list-style:none;}
img{border:0; vertical-align:middle;}
td,th{color:#666; font:normal 12px/1.5em microsoft yahei, Arial; padding:5px;}
a{color:#666; text-decoration:none;}
a:hover{color:#f60; text-decoration:none;}
.clear{background:none; border:0; clear:both; display:block; float:none; font-size:0; margin:0; padding:0; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:after{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility: hidden; width:0; height:0;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
input,select,textarea{color:#333; font:normal 12px/150% microsoft yahei, Arial;}
input[type="radio"],input[type="checkbox"]{float:left; margin:2px 3px 0; line-height:normal; padding:0; box-sizing:border-box;}
.beleft{float:left!important;}
.beright{float:right!important;}
.berelative{position:relative; z-index:100;}
.beblock{display:block!important;}
.nowrap{white-space:nowrap;}
.hidden {display:none;}

/*
for line---------------------------*/
.line_ts_co{border-top:1px solid #f60;}
.line_bs_co{border-bottom:1px solid #f60;}
.line_ts_cr{border-top:1px solid #c32f26;}
.line_bs_cr{border-bottom:1px solid #c32f26;}
.line_ts_ch{border-top:1px solid #ddd;}
.line_bs_ch{border-bottom:1px solid #ddd;}
.line_bd_ch{border-bottom:1px dotted #ccc;}

/*
for padding margin------------------------------------------------*/
.pad_0{padding:0!important;}
.pad_5{padding:5px;}
.pad_t_5{padding-top:5px;}
.pad_b_5{padding-bottom:5px;}
.pad_l_5{padding-left:5px;}
.pad_r_5{padding-right:5px;}
.pad_10{padding:10px;}
.pad_t_10{padding-top:10px;}
.pad_b_10{padding-bottom:10px;}
.pad_l_10{padding-left:10px;}
.pad_r_10{padding-right:10px;}
.pad_20{padding:20px;}
.pad_t_20{padding-top:20px;}
.pad_b_20{padding-bottom:20px;}
.pad_l_20{padding-left:20px;}
.pad_r_20{padding-right:20px;}

.mar_0{margin:0!important;}
.mar_t_2{margin-top:2px;}
.mar_t_5{margin-top:5px;}
.mar_b_5{margin-bottom:5px;}
.mar_l_5{margin-left:5px;}
.mar_r_5{margin-right:5px;}
.mar_t_10{margin-top:10px;}
.mar_b_10{margin-bottom:10px;}
.mar_l_10{margin-left:10px;}
.mar_r_10{margin-right:10px;}
.mar_t_20{margin-top:20px;}
.mar_b_20{margin-bottom:20px;}
.mar_l_20{margin-left:20px;}
.mar_r_20{margin-right:20px;}
.mar_l_30{margin-left:30px;}
.mar_r_30{margin-right:30px;}

/*
for other------------------------------------------------*/
.min_height_01{height:auto!important; height:100px; min-height:100px;}
.min_height_02{height:auto!important; height:200px; min-height:200px;}
.min_height_03{height:auto!important; height:400px; min-height:400px;}

.shadow{-moz-box-shadow:0 2px 5px rgba(0,0,0,0.175);-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.175);box-shadow:0 2px 5px rgba(0,0,0,0.175);}

.progress{height:20px;overflow:hidden;background-color:#eee;border-radius:4px; -webkit-box-shadow:inset 0 1px 2px #ccc; box-shadow: inset 0 1px 2px #ccc;}
.progress-bar{float:left; width:0; height:100%; font-size:12px; line-height:20px; color:#ffffff; text-align:center; background-color:#f60;-webkit-box-shadow: inset 0 -1px 0 #f40; box-shadow: inset 0 -1px 0 #f40;}

/*for 表单验证---------------------------------------------------------*/
.tipsPostion{height:40px;}
.svBox{padding:20px 20px 20px 120px; margin:30px; border:1px solid #e1f2b8; border-radius:5px; background:#f6fee4 url(../images/icon_sv.png) no-repeat 25px 25px;}

.box-tips{padding:15px 15px 15px 50px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_tips.png) no-repeat 10px 10px; color:#333;}
.box-warnning{padding:15px 15px 15px 50px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_warnning.png) no-repeat 10px 10px; color:#333;}
.box-ok{padding:15px 15px 15px 50px; margin-bottom:10px; border:1px solid #e1f2b8; border-radius:5px; background:#f6fee4 url(../images/icon_ok.png) no-repeat 10px 10px; color:#333;}
.box-question{padding:15px 15px 15px 50px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_question.png) no-repeat 10px 10px; color:#333;}
.box-error{padding:15px 15px 15px 50px; margin-bottom:10px; border:1px solid #fea1a1; border-radius:5px; background:#ffe5e5 url(../images/icon_error.png) no-repeat 10px 10px; color:#333;}

.box-tips-s{padding:5px 9px 5px 30px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_tips_s.png) no-repeat 6px 6px; color:#333;}
.box-warnning-s{padding:5px 9px 5px 30px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_warnning_s.png) no-repeat 6px 6px; color:#333;}
.box-ok-s{padding:5px 9px 5px 30px; margin-bottom:10px; border:1px solid #e1f2b8; border-radius:5px; background:#f6fee4 url(../images/icon_ok_s.png) no-repeat 6px 6px; color:#333;}
.box-question-s{padding:5px 9px 5px 30px; margin-bottom:10px; border:1px solid #ffc37c; border-radius:5px; background:#fff9da url(../images/icon_question_s.png) no-repeat 7px 7px; color:#333;}
.box-error-s{padding:5px 9px 5px 30px; margin-bottom:10px; border:1px solid #fea1a1; border-radius:5px; background:#ffe5e5 url(../images/icon_error_s.png) no-repeat 6px 6px; color:#333;}

.status-ok{display:inline-block; width:16px; height:16px; background:url(../images/icon_ok_s.png) no-repeat; position:relative; top:2px;left:5px;}
.status-error{display:inline-block; width:16px; height:16px; background:url(../images/icon_error_s.png) no-repeat; position:relative; top:2px;left:5px;}
.status-warnning{display:inline-block; width:16px; height:16px; background:url(../images/icon_warnning_s.png) no-repeat; position:relative; top:2px;left:5px;}
