@charset "utf-8";
/*
for font---------------------------*/
.bold{font-weight:bold}
.italic{font-style:italic}
.f10px{font-size:10px}
.f14px{font-size:14px}
.f16px{font-size:16px}
.f18px{font-size:18px}
.f24px{font-size:24px}
.f30px{font-size:30px}
.f08em{font-size:.8em}
.f09em{font-size:.9em}
.f11em{font-size:1.1em}
.f12em{font-size:1.2em}
.f13em{font-size:1.3em}
.f14em{font-size:1.4em}
.f18em{font-size:1.8em}
.f20em{font-size:2em}
.cred{color:#f00}
.cgreen{color:#2e9206}
.cblue{color:#1f7cb6}
.corange{color:#f60}
.cgray{color:#999}
.cwhite{color:#fff}
.cblack{color:#333}
.cyellow{color:#ffd800;}
.cgray{color:#a6a6a6;}
.line_through{text-decoration:line-through;}

/*
for link---------------------------*/
a.link_red{color:#f00}
a.link_red:hover{color:#f60}
a.link_green{color:#2e9206;}
a.link_green:hover{color:#f60}
a.link_orange{color:#f60}
a.link_orange:hover{color:#f60}
a.link_white{color:#fff;}
a.link_white:hover{color:#f60;}
a.link_blue{color:#1f7cb6}
a.link_blue:hover{color:#f60}
a.uline{text-decoration:underline;}
a.uline:hover{text-decoration:none;}

/*
for align---------------------------*/
.text-center{text-align:center;}
.text-left{text-align:left !important;}
.text-right{text-align:right;}

