@charset "utf-8";
/*
for btn----------------------------------------*/
.btn{display: inline-block; padding:6px 12px; margin-bottom:0; font-size:14px; line-height:1.5; text-align:center; white-space:nowrap; vertical-align:middle; cursor:pointer; background-image:none; border:1px solid transparent; border-radius:5px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
.btn:focus{outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
.btn:hover,.btn:focus {color:#333; text-decoration:none;}
.btn:active,.btn.active {background-image:none; outline:0; -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none; cursor:not-allowed; opacity:0.65; filter:alpha(opacity=65); -webkit-box-shadow:none; box-shadow:none;}
.btn span.cart-01{float:left; padding-left:30px; background:url(../images/icon_cart_b.png) no-repeat;}
.btn span.cart-02{float:left; padding-left:30px; background:url(../images/icon_cart.png) no-repeat;}

.caret-d{display:inline-block; width:0; height:0; overflow:hidden; margin-left:2px; vertical-align:middle; border-top:4px solid #000000; border-right:4px solid transparent;border-bottom:0 dotted; border-left:4px solid transparent;}
.caret-u{display:inline-block; width:0; height:0; overflow:hidden; margin-left:2px; vertical-align:middle; border-bottom:4px solid #000000; border-right:4px solid transparent;border-top:0 dotted; border-left:4px solid transparent;}

.btn-lg{padding:10px 20px; font-size:18px; line-height:1.4;  border-radius:6px;}
.btn-sm,.btn-xs{padding:5px 10px; font-size:12px; line-height:1.5; border-radius:3px;}
.btn-xs{padding:1px 5px;}
.btn-block{display:block; text-align:center;}

.btn-default{color: #333; background-color:#fff; border-color:#ccc;}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active{color:#333; background-color:#ebebeb; border-color:#adadad;}
.btn-default:active,.btn-default.active{background-image: none;}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled].btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff; border-color: #ccc;}

.btn-orange{color:#fff; background-color:#f84d00; border-color:#ce4000;}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active,.btn-orange.active,.open .dropdown-toggle.btn-orange{color:#fff; background-color:#f00; border-color:#ce4000;}
.btn-orange:active,.btn-orange.active,.open .dropdown-toggle.btn-orange{background-image: none;}
.btn-orange.disabled,.btn-orange[disabled],fieldset[disabled] .btn-orange,.btn-orange.disabled:hover,.btn-orange[disabled]:hover,fieldset[disabled] .btn-orange:hover,.btn-orange.disabled:focus,.btn-orange[disabled]:focus,fieldset[disabled] .btn-orange:focus,.btn-orange.disabled:active,.btn-orange[disabled]:active,fieldset[disabled] .btn-orange:active,.btn-orange.disabled.active,.btn-orange[disabled].active,fieldset[disabled] .btn-orange.active{background-color:#f84d00; border-color:#ce4000;}
.btn-orange .caret{border-top-color:#fff; border-bottom-color:#fff;}

.btn-green{color:#fff; background-color:#2e9206; border-color:#537600;}
.btn-green:hover,.btn-green:focus,.btn-green:active,.btn-green.active,.open .dropdown-toggle.btn-green{color:#fff; background-color:#217300; border-color:#537600;}
.btn-green:active,.btn-green.active,.open .dropdown-toggle.btn-green{background-image: none;}
.btn-green.disabled,.btn-green[disabled],fieldset[disabled] .btn-green,.btn-green.disabled:hover,.btn-green[disabled]:hover,fieldset[disabled] .btn-green:hover,.btn-green.disabled:focus,.btn-green[disabled]:focus,fieldset[disabled] .btn-green:focus,.btn-green.disabled:active,.btn-green[disabled]:active,fieldset[disabled] .btn-green:active,.btn-green.disabled.active,.btn-green[disabled].active,fieldset[disabled] .btn-green.active{background-color:#2e9206; border-color:#537600;}
.btn-green .caret{border-top-color:#fff; border-bottom-color:#fff;}

.btn-f90{color:#fff; background-color:#f90; border-color:#ce6600;}
.btn-f90:hover,.btn-f90:focus,.btn-f90:active,.btn-f90.active,.open .dropdown-toggle.btn-f90{color:#fff; background-color:#f70; border-color:#ce6600;}
.btn-f90:active,.btn-f90.active,.open .dropdown-toggle.btn-f90{background-image: none;}
.btn-f90.disabled,.btn-f90[disabled],fieldset[disabled] .btn-f90,.btn-f90.disabled:hover,.btn-f90[disabled]:hover,fieldset[disabled] .btn-f90:hover,.btn-f90.disabled:focus,.btn-f90[disabled]:focus,fieldset[disabled] .btn-f90:focus,.btn-f90.disabled:active,.btn-f90[disabled]:active,fieldset[disabled] .btn-f90:active,.btn-f90.disabled.active,.btn-f90[disabled].active,fieldset[disabled] .btn-f90.active{background-color:#f90; border-color:#ce6600;}
.btn-f90 .caret{border-top-color:#fff; border-bottom-color:#fff;}



/*
for text input----------------------------------------*/
.loginInput{height:25px; border:1px solid #c8c8c8; background:#fff url(../images/login_input_bg.jpg) repeat-x;}
.input-style{height:24px; line-height:24px; padding:2px 5px; border:1px solid #ccc; border-radius:3px; margin:0 2px;}
.select-style{height:30px; line-height:24px; padding:4px; border:1px solid #ccc; border-radius:3px; margin:0 2px;}
.textarea-style{border:1px solid #ccc; border-radius:3px; padding:5px; margin:0 2px;}
.input-xs{width:80px;}
.input-s{width:100px;}
.input-m{width:200px;}
.input-l{width:400px;}

.formList dl{clear:both; margin-bottom:10px; line-height:26px;}
.formList dl:after{clear: both;content: " ";display: block;font-size: 0px;line-height: 0;visibility: hidden;width: 0px;height: 0px;}
.formList dt{float:left; width:100px; margin-right:10px; display:inline; font-weight:bold; text-align:right;}
.formList dd{margin-left:110px;}
.formList input[type="radio"],.formList input[type="checkbox"]{float:left; margin:5px 3px 0; line-height:normal; padding:0; box-sizing:border-box;}
.formList .cz {font-size:18px;}
.formList .cz dt {padding-top:9px; text-align:left;}
.formList .cz .input-style {padding:10px 12px; margin-right:10px;}

.form-center{width:500px; margin:20px auto;}
