@charset "utf-8";
/*
for 商品列表 layout---------------------------*/
.secondaryClass{margin-bottom:10px; background-color:#fff; border-top:3px solid #2e9206;}
.secondaryClass h2{margin:0; height:40px; line-height:40px; text-align:center; color:#333; font-size:16px; background-color:#fff; border:1px solid #d0e4c8; border-top:none;}
.secondaryClass ul li{float:left; width:198px; position:relative; z-index:1; vertical-align:middle; border:1px solid #d0e4c8; border-top:none;}
.secondaryClass ul li p{height:35px; line-height:35px; padding-left:20px; margin:0; background:#dff0d8; font-size:14px; color:#333;}
.secondaryClass ul li p:hover{background-color:#fff; color:#f60;}
.secondaryClass ul li p a{color:#333;}
.secondaryClass ul li p a:hover{color:#f60;}
.secondaryClass ul li em{display:block; width:100px; height:35px; position:absolute; top:0px; right:10px; cursor:pointer; background:url(../images/arrow_down.gif) no-repeat right center;}
.secondaryClass ul li.on em{background:url(../images/arrow_up.gif) no-repeat right center;}
.secondaryClass ul li.on p{color:#fff; background-color:#2d9206;}
.secondaryClass ul li.on p:hover{background-color:#2d9206;}
.secondaryClass ul li.on p a{color:#fff;}
.secondaryClass ul li ul{clear:both; padding:5px 10px; background-color:#fff;}
.secondaryClass ul li ul li{height:16px; width:138px; line-height:16px; margin:4px 5px; display:inline; border:none; padding-left:10px; background:url(../images/arrow_02.gif) no-repeat 0 5px;}
.secondaryClass ul li ul li a.on{color:#f84d00;}

.leftBox-01{background-color:#fff; border:1px solid #ddd;}
.leftBox-01 .title{background-color:#f5f5f5; padding:8px 10px; border-bottom:1px solid #ddd;}
.leftBox-01 .title h2{font-size:14px; font-weight:bold; color:#2e9206;}
.leftBox-01 .con{clear:both;}
.leftBox-01 .con ul li .pic{height:178px; overflow:hidden; background-color:#fff;}
.leftBox-01 .con ul li .pic img{width:100%; height:auto;}
.leftBox-01 .con ul li .text{padding:8px 10px 5px; background-color:#f3f3f3;}
.leftBox-01 .con ul li .text h2{height:28px; line-height:14px; font-size:12px; color:#333;}
.leftBox-01 .con ul li .text h2 a{color:#333;}
.leftBox-01 .con ul li .text h2 a:hover{color:#f60;}
.leftBox-01 .con ul li .text p{margin:0; font-size:14px; color:#f84d00; font-weight:bold;}
.leftBox-01 .con ul li .text p em{font-size:12px; color:#999; text-decoration:line-through; font-style:normal; font-weight:normal;}
.leftBox-01 .con ul li .btns{padding:0 5px; background-color:#cecece;}

.proSelect{padding:10px; background-color:#fff; margin-bottom:10px; border:1px solid #ddd;}
.proCondition{padding:5px 10px; border-bottom:1px dashed #ddd;}
.proCondition li{line-height:24px; font-size:12px;}
.proCondition .title{float:left; width:80px; color:#999; font-size:14px;}
.proCondition .title-01{float:left; width:80px; color:#333; font-size:14px;}
.proCondition .con{float:left; width:750px;}
.proCondition .con-01{float:left; width:820px;}
.proCondition .other{float:right; width:70px; text-align:right;}
.proCondition .list-01 li{float:left; margin:0 5px;}
.proCondition .list-02 li{float:left; width:177px; margin:0 5px; display:inline}
.proCondition .list-03 li{float:left; margin:0 20px 0 5px;}
.proCondition .con a{padding:0 3px;}
.proCondition .con a:hover{color:#fff; background-color:#f60;}
.proCondition .proSelected{border:1px solid #ddd; float:left; padding:0 5px; line-height:21px;}
.proCondition .proSelected .close{float:none; font-size:16px; font-weight:bold; color:#f00; opacity:0.6; filter:alpha(opacity=60);}
.proCondition .proSelected .close:hover{opacity:1; filter:alpha(opacity=100);}
.proSelect .selectMore{margin:0 auto; display:block; width:160px; height:25px; line-height:25px; text-align:center; background:url(../images/select_more_bg.png) no-repeat;}
.proSelect .selectMore a{display:block; text-align:center; background:url(../images/arrow_down_02.gif) no-repeat 120px 9px;}

/*
for 商品详情 layout---------------------------*/
.proBasic{clear:both; border:1px solid #eee; border-radius:5px; -webkit-box-shadow:0 2px 5px #999; box-shadow:0 2px 5px #999; margin-bottom:10px;}
.proBasic-l{float:left; width:400px;}
.proBasic-m{float:left; width:480px;}
.proBasic-r{float:right; width:257px;}
.bigPropic{background-color:#fff; width:400px; height:400px; overflow:hidden; position:relative; z-index:1;}
.bigPropic img{width:100%; height:auto;}
.smallPropic{background-color:#fff; height:82px; padding:5px;}
.smallPropic a:hover{text-decoration:none; color:#333;}
.smallPropic .scrollArea{float:left; width:360px; overflow:hidden;}
.smallPropic .scrollArea ul{width:1000px;}
.smallPropic .scrollArea li{float:left; margin:0 5px; display:inline;}
.smallPropic .scrollArea li a{float:left; border:2px solid #eee;}
.smallPropic .scrollArea li a:hover{border:2px solid #f60;}
.smallPropic .scrollArea li a.on{border:2px solid #f60;}
.smallPropic .arrow-left{float:left; width:0; height:0; overflow:hidden; margin:30px 2px 0 0; vertical-align:middle; border-top:10px solid transparent; border-right:10px solid #666; border-bottom:10px solid transparent;}
.smallPropic .arrow-right{float:right; width:0; height:0; overflow:hidden; margin:30px 0 0 2px; vertical-align:middle; border-top:10px solid transparent; border-left:10px solid #666; border-bottom:10px solid transparent;}
.smallPropic .arrow-left:hover,.smallPropic .arrow-right:hover{opacity:0.8; filter:alpha(opacity=80);}

.proProperty{padding:40px; background-color:#f6f6f6; color:#666; font-size:14px; height:auto!important; height:420px; min-height:420px;}
.proProperty h1{font-size:18px; margin:0 0 18px 0; padding:0; color:#333;}
.proProperty h3{color:#f84d00; font-size:24px;}
.proProperty h3 small{text-decoration:line-through; font-size:14px; font-weight:normal; color:#999;}
.propertyList{padding-bottom:10px; border-bottom:1px dotted #ccc;}
.propertyList li{clear:both; margin-bottom:8px; line-height:30px;}
.propertyList li label{float:left; margin:0; width:80px; font-weight:normal; color:#999;}
.proProperty .discount{background-color:#f84d00; color:#fff; padding:0 5px;}

.propertyList .proparam a{border:1px solid #aaa;float:left;line-height:16px;margin:3px 6px 0 0;padding:3px 6px;}
.propertyList .proparam a:hover{border-color:#f00;color:#f00;}
.propertyList .proparam a.current{border-color:#f00;color:#f00;}
.propertyList .proparam a.disable{border-color:#ccc;color:#ccc;border-style:dashed;}
.propertyList .proparam a.disable:hover{border-color:#ccc;color:#ccc;cursor:default;}

.propertyList .procolor a{float:left;line-height:16px;text-align:center;color:#fff;border:1px solid #fff;margin:3px 6px 6px 0;}
.propertyList .procolor a i{float:left;padding:2px 4px;font-style:normal;border:1px solid #fff;text-shadow:1px 1px 0 #333;}
.propertyList .procolor a:hover{border-color:#f00;}
.propertyList .procolor a.current{border-color:#f00;}
.propertyList .procolor a.disable{color:#ccc;border:1px dashed #ccc;}
.propertyList .procolor a.disable:hover{border:1px dashed #ccc;cursor:default;}

.serviceList{padding:10px 0; clear:both; border-bottom:1px dotted #ccc; margin-bottom:20px;}
.serviceList li{float:left; line-height:32px; margin-right:20px; padding-left:35px; font-style:italic; white-space:nowrap;}
.serviceList .icon_1hours{background:url(../images/icon_1hours.png) no-repeat 0 0;}
.serviceList .icon_7days{background:url(../images/icon_7days.png) no-repeat 0 0;}
.serviceList .icon_service_brd{background:url(../images/icon_service_brd.png) no-repeat 0 0;}


.proProperty .btnArea{clear:both; padding:10px 0 20px;}
.zhtjBox{background-color:#fff; margin-bottom:10px; border:1px solid #ddd;}
.zhtjBox .title{height:35px; border-bottom:1px solid #ddd; background-color:#f6f6f6;}
.zhtjBox .title h2{float:left; font-weight:bold; font-size:14px; color:#333; line-height:35px; padding:0 20px; margin:0; border-right:1px solid #ddd;}
.tab_01{float:left;}
.tab_01 li{float:left; border-right:1px solid #ddd;}
.tab_01 li a{float:left; line-height:34px; padding:0 20px;}
.tab_01 li a.on{border-top:3px solid #2e9206; background-color:#fff; margin:-1px 0;}
.zhtjList{padding:10px; clear:both;}
.zhtjList li{text-align:center; padding-right:50px; float:left;}
.zhtjList li .pic{width:150px; height:150px; overflow:hidden;}
.zhtjList li .pic img{width:100%; height:auto;}
.zhtjList li .text{text-align:center; line-height:30px;}
.zhtjList li.add{padding-right:105px; background:url(../images/zh_add.jpg) no-repeat 190px 50px;}
.zhtjList li.dy{padding-right:105px; background:url(../images/zh_dy.jpg) no-repeat 190px 50px;}
.zhtjList li.total{padding-top:20px; font-size:14px;}
.zhtjList h3{color:#f60; padding:0; font-size:18px;}
.zhtjList h3 small{text-decoration:line-through; color:#999; font-weight:normal;}

.promotionsBox{clear:both; height:70px; padding:15px 105px 15px 235px; margin-bottom:10px; border:1px solid #ddd; background:#fff url(../images/title_promotions.jpg) no-repeat;}
.promotionsBox a{font-size:16px; margin-bottom:10px; line-height:30px;}

.proInfo{background-color:#fff; clear:both;}
.proInfo .con{padding:30px; clear:both;}
.proInfo h2{margin:0 0 10px 0; padding:0; font-size:16px; color:#333;}
.proInfo .con_01{clear:both; padding:20px 25px; border:1px solid #ddd; border-top:none;}
.proInfo .con_01 img,.proInfo .con_02 img {height:auto;}
.proInfo .con_02{clear:both; padding:20px 25px;}

.tab_02{height:35px; border:1px solid #ddd; background-color:#fff;}
.tab_02 li{float:left; border-right:1px solid #ddd;}
.tab_02 li a{float:left; line-height:35px; padding:0 20px; font-size:16px; font-weight:bold; color:#666;}
.tab_02 li a.on{color:#2e9206; line-height:34px; border-top:3px solid #2e9206; background-color:#fff; margin:-1px 0;}
.tab_02 li.tab_right{float:right; padding:5px 10px 0 0; border:0;}
.fixedTab{top:0; width:948px; z-index:1000;}

.proOther{clear:both; margin-bottom:20px;}
.proOther h5{padding:5px 10px; font-size:12px;}
.proOther .con{padding:0 10px;}
.proOther .percent{padding:0 0 0 9px; margin:0;}
.proOther .percent em{font-size:60px; line-height:1em; color:#f60; display:block; font-style:normal;}
.proOther .percent span{font-size:12px;}
.proOther .progress{float:left; height:10px; width:150px; background:#fff; margin:5px; border:1px solid #ccc;}
.proOther .progress .progress-bar{background-color:#f90;}
.proOther .progressList{padding:5px 5px 0;}
.proOther .progressList li{margin-bottom:5px; padding-left:5px;}
.proOther .progressList span{float:left; width:70px; line-height:24px;}
.impress{padding-left:5px;}
.impress span{float:left; padding:0px 5px 1px; margin:5px; color:#fff; background-color:#f60;}

.commentSelect{clear:both; border:1px solid #ddd; background:#f9f9f9; padding:10px; margin-bottom:10px;}
.commentSelect li{float:left; padding:0 15px; font-size:14px;}

.commentArea{clear:both;}
.commentArea li{margin-bottom:20px;}
.commentArea .user{text-align:center; float:left; width:140px;}
.commentArea .user a{display:block; padding-top:5px;}
.commentArea .user img{border:1px solid #ddd; border-radius:5px;}
.commentCon{float:right; width:720px; padding:1px; text-align:left; white-space:normal; background-color:#fff; border:1px solid #ddd; border-radius:5px; -webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.1); box-shadow:0 3px 6px rgba(0, 0, 0, 0.1); background-clip:padding-box; position:relative; z-index:1;}
.commentCon .arrow,.commentCon .arrow:after{position:absolute; display:block; width:0; height:0; border-color:transparent; border-style:solid;}
.commentCon .arrow{border-width:15px; top:28px; left:-15px; margin-top:-15px; border-right-color:#ddd; border-left-width:0;}
.commentCon .arrow:after{border-width:15px; content:""; bottom:-15px; left:1px; border-right-color:#fff; border-left-width:0; content:" ";}
.commentCon .top{padding:10px 15px; height:auto; border-bottom:1px solid #ddd; background-color:#fff;}
.commentCon .mid{padding:10px 15px;}
.commentCon .mid h5{margin:0 0 5px;}
.commentCon .bottom{padding:10px 15px; border-top:1px solid #ddd;}
.commentCon .bottom .tags{float:left;}
.commentCon .bottom .tags span{padding:0px 5px 1px; margin:3px; color:#fff; background-color:#f60;}
.commentCon .small-pic li{float:left; width:80px; height:80px; border:1px solid #ddd; margin-right:10px; display:inline;}
.commentCon .small-pic li img{width:100%; height:auto;}
.commentCon .small-pic li.zoom{width:300px; height:300px;}