@charset "utf-8";
/*
for 活动 layout---------------------------*/
.hdBanner{width:100%; height:400px; clear:both;}
.hdTitle_01{clear:both; padding:8px 30px; color:#fff; border-radius:50px; background-color:#f36b18}
.hdTitle_02{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#8a4c8a}
.hdTitle_03{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#1f94cc}
.hdTitle_04{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#5da321}
.hdTitle_05{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#cd1b49}
.hdTitle_06{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#08af85}
.hdTitle_07{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#bb3318}
.hdTitle_08{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#c62173}
.hdTitle_09{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#1d7b33}
.hdTitle_10{clear:both; padding:8px 30px; color:#fff; border-radius:50px;  background-color:#2d749d}
.hdTitle_01 h2,.hdTitle_02 h2,.hdTitle_03 h2,.hdTitle_04 h2,.hdTitle_05 h2,.hdTitle_06 h2,.hdTitle_07 h2,.hdTitle_08 h2,.hdTitle_09 h2,.hdTitle_10 h2{font-size:18px;}
.hdCon{clear:both; padding:0;}
.hdCon .hdList_c5 h2 {height:36px; overflow:hidden;}
.hdCon .hdList_c5 .price_01 {height:38px;}
.hdCon .hdList_c5 em {height:18px; display:block;}

.hdList_c2{clear:both; border-bottom:1px dotted #ccc;}
.hdList_c2 li{float:left; width:540px; margin:10px; display:inline;}
.hdList_c2 li .pic{float:left; width:200px; height:200px; overflow:hidden; border:1px solid #ddd;}
.hdList_c2 li .pic img{width:100%; height:auto;}
.hdList_c2 li .text{float:right; width:320px; padding:10px 0 0;}
.hdList_c2 li .text h2{font-size:16px; line-height:20px; margin-bottom:10px;}
.hdList_c2 li .text .price_01{ margin-bottom:20px;}
.hdList_c2 li .text .price_01 b{font-size:18px; color:#f60;}
.hdList_c2 li .text .price_01 em{text-decoration:line-through; color:#999; font-style:normal; display:block; margin-bottom:5px;}

.hdList_c3{clear:both; border-bottom:1px dotted #ccc;}
.hdList_c3 li{float:left; width:350px; margin:10px; display:inline;}
.hdList_c3 li .pic{float:left; width:150px; height:150px; overflow:hidden; border:1px solid #ddd;}
.hdList_c3 li .pic img{width:100%; height:auto;}
.hdList_c3 li .text{float:right; width:180px; padding:10px 0 0;}
.hdList_c3 li .text h2{font-size:14px; line-height:18px; margin-bottom:10px;}
.hdList_c3 li .text .price_01{margin-bottom:10px;}
.hdList_c3 li .text .price_01 b{font-size:16px; color:#f60;}
.hdList_c3 li .text .price_01 em{text-decoration:line-through; color:#999; font-style:normal; display:block; margin-bottom:5px;}

.hdList_c4{clear:both; border-bottom:1px dotted #ccc;}
.hdList_c4 li{float:left; width:264px; margin:10px; display:inline;}
.hdList_c4 li .pic{width:262px; height:262px; overflow:hidden; border:1px solid #ddd;}
.hdList_c4 li .pic img{width:100%; height:auto;}
.hdList_c4 li .text{padding:10px 0 0;}
.hdList_c4 li .text h2{font-size:14px; line-height:18px; margin-bottom:5px;}
.hdList_c4 li .text .price_01{float:left; margin:0;}
.hdList_c4 li .text .price_01 b{font-size:16px; color:#f60;}
.hdList_c4 li .text .price_01 em{text-decoration:line-through; color:#999; font-style:normal; display:block;}
.hdList_c4 li .text .btn{float:right;}

.hdList_c5{clear:both; border-bottom:1px dotted #ccc;}
.hdList_c5 li{float:left; width:208px; margin:10px; display:inline;}
.hdList_c5 li .pic{width:206px; height:206px; overflow:hidden; border:1px solid #ddd;}
.hdList_c5 li .pic img{width:100%; height:auto;}
.hdList_c5 li .text{padding:10px 0 0;}
.hdList_c5 li .text h2{font-size:14px; line-height:18px; margin-bottom:5px;}
.hdList_c5 li .text .price_01{float:left; margin:0;}
.hdList_c5 li .text .price_01 b{font-size:16px; color:#f60;}
.hdList_c5 li .text .price_01 em{text-decoration:line-through; color:#999; font-style:normal; display:block;}
.hdList_c5 li .text .btn{float:right;}

