@charset "utf-8";
/*
for 登录注册 layout---------------------------*/
.login-body{background-color:#d1c8b0;}
.login-bg{position:fixed; _position:absolute; width:100%; overflow:hidden; left:0px; top:0px; z-index:-1;}
.login-box{padding:100px;}
.login-box a{color:#fff;}
.login-box a:hover{color:#f60;}
.login-box .login{width:280px; float:right; padding:20px; border:1px solid #000; border-radius:5px; background-image:url(../images/black_bg.png); color:#fff;}
.login-box h3{font-size:16px; margin:0 0 5px;}
.login-box .login .user{float:left; width:35px; height:35px; border:1px solid #ddd; border-radius:4px 0 0 4px; background:#f5f5f5 url(../images/icon_login_user.png) no-repeat center;}
.login-box .login .lock{float:left; width:35px; height:35px; border:1px solid #ddd; border-radius:4px 0 0 4px; background:#f5f5f5 url(../images/icon_login_lock.png) no-repeat center;}
.login-box .login .login-input{float:left; width:231px; height:29px; line-height:29px; padding:3px 5px; font-size:14px; border:1px solid #ddd; border-left:none; border-radius: 0 4px 4px 0; background-color:#fff;}

.login-footer {height:40px; background-image:url(../images/black_bg.png); text-align:center; color:#fff; position:fixed; _position:absolute; bottom:0px; width:100%; line-height:40px; font-size:12px;}

.reg-box{padding:100px;}
.reg-box a{color:#fff;}
.reg-box a:hover{color:#f60;}
.reg-box .btn-default{color:#333;}
.reg-box .reg{width:640px; margin:0 auto; padding:20px; border:1px solid #000; border-radius:5px; background-image:url(../images/black_bg.png); color:#fff;}
.reg-box  h3{font-size:16px; margin-bottom:5px;}
.reg-box .reg-l{float:left; width:400px;}
.reg-box .reg-r{float:right; width:200px;}
.reg-box input[type="checkbox"]{float:left; margin:6px 3px 0; line-height:normal; padding:0; box-sizing:border-box;}

.reg-box .smile{padding:10px 10px 10px 200px; background:url(../images/smile.png) no-repeat 20px 10px;}
.text-green {color:#d5ff71;}
.text-yellow {color:#ffff00;}
.tipsPostion{height:35px;}

.reg-box .password{width:400px; margin:0 auto; padding:20px; border:1px solid #000; border-radius:5px; background-image:url(../images/black_bg.png); color:#fff;}
.reg-box .password .box-ok{background-color:transparent; border:none; color:#fff;}

.tips{padding-left:18px; background:url(../images/icon_tips_s.png) no-repeat 0 0;}

.registration-box {margin-top:20px;/* background-image:url(../images/login_bg.jpg); background-position:right bottom; background-repeat:no-repeat; */padding-bottom:0px;}
.row.registration-box,.registration-finish-box {margin-left:0px; margin-right:0px;}
.registration-box .row {margin-top:10px;}
.registration-box .required {padding-top:6px; width:120px;}
.registration-box .registration .row {padding-left:30px;}
.registration-box .btn-login {width:60%;}
.registration-box .login-qrcode {margin-top:67px;}
.registration-box select.form-control {display:inline; width:auto; padding-left:6px;}
.registration-box .input-captcha {width:100px; display:inline;}
.registration-finish-box .checkbox {margin-top:0px; overflow:hidden;}
.registration-finish-box .btn-box {margin-top:0px; overflow:hidden;}
.registration-finish-box {padding:50px; margin-top:20px; margin-bottom:20px;}
.registration-finish-box .login {position:relative;}
.registration-finish-box .login .zhuce {position:absolute; right:20px; bottom:-30px; background-image:url(../images/black_bg.png); border:1px solid #000; padding:0px 20px; height:30px; line-height:28px; border-top:0px;}
.registration-finish-box .checkbox label {margin-top:0px;}

.agreement{width:600px; height:400px; overflow-x:hidden; overflow-y:auto;}
.agreement h2{font-size:16px; line-height:30px; padding-top:10px; color:#f40}
.agreement h3{font-size:12px; line-height:22px; padding:10px 0 5px; color:#444444}
.agreement li{text-indent:2em;}


