@charset "utf-8";

/*for pagination---------------------------*/
.paginationArea {
	padding:10px;
	background-color:#fff;
	clear:both;
}
.paginationArea .paginationArea_l {
	float:left;
	line-height:30px;
	padding-left:5px;
}
.pagination {
	text-align:right;
	float:right;
	font-size:14px;
}
.pagination li {
	float:left;
	display:inline;
}
.pagination a {
	float:left;
	border:1px solid #ddd;
	margin-left:-1px;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#fff;
}
.pagination a:hover {
	color:#f60;
}
.pagination a:active {
	color:#333;
}
.pagination .current a {
	border:1px solid #f84d00;
	color:#fff;
	background:#f84d00;
}
.pagination .disabled a {
	border:1px solid #eee;
	color:#ddd;
}
.caret-left {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	margin-right:2px;
	vertical-align:middle;
	border-top:4px solid transparent;
	border-right:4px solid #666;
	border-bottom:4px solid transparent;
}
.caret-right {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	margin-left:2px;
	vertical-align:middle;
	border-top:4px solid transparent;
	border-left:4px solid #666;
	border-bottom:4px solid transparent;
}
.caret {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	margin-left:2px;
	vertical-align:middle;
	border-top:4px solid #000;
	border-right:4px solid transparent;
	border-bottom:0 dotted;
	border-left:4px solid transparent
}

/*for header---------------------------*/
.topBar {
	height:34px;
	background:#f9f9f9;
	border-bottom:1px solid #eee;
	min-width:1140px;
}
.topBar .container{
	height:34px;
}
.topLink {
	float:right;
}
.topLink li {
	float:left;
	line-height:34px;
	vertical-align:middle;
}
.topLink li a {
	margin:0 9px;
	float:left;
	display:inline;
}
.topLink li a:hover {
	text-decoration:underline;
}
.topLink li a.important {
	color:#f60;
}
.topLink li a.icon_cart {
	padding-left:20px;
	background:url(../images/icon_cart.png) no-repeat 0 6px;
}
.topLink li a.icon_mobi {
	padding-left:20px;
	background:url(../images/icon_mobi.png) no-repeat 0 6px;
}
.topLink li img {
	margin-top:-5px;
}
.topLink li.line {
	color:#ccc;
}
.topLink li.tel {
	width:180px;
	height:34px;
	background:url(../images/tel.png) no-repeat 0 0;
}
.topBar_02 {
	height:34px;
	background:#2e9a02;
	color:#fff;
}
.topLink_02 {
	float:right;
}
.topLink_02 li {
	float:left;
	line-height:34px;
	vertical-align:middle;
}
.topLink_02 li a {
	margin:0 9px;
	color:#fff;
	float:left;
	display:inline;
}
.topLink_02 li a:hover {
	color:#eee;
	text-decoration:underline;
}
.topLink_02 li a.important {
	color:#ff0;
}
.topLink_02 li a.icon_cart {
	padding-left:20px;
	background:url(../images/icon_cart_02.png) no-repeat 0 6px;
}
.topLink_02 li a.icon_mobi {
	padding-left:20px;
	background:url(../images/icon_mobi_02.png) no-repeat 0 6px;
}
.topLink_02 li img {
	margin-top:-5px;
}
.topLink_02 li.tel {
	width:200px;
	height:34px;
	background:url(../images/tel_02.png) no-repeat;
}
.headTop {
	background-color:#f5f5f5;
	height:90px;
	min-width:1140px;
	overflow:hidden;
}
.top {
	background-color:#f5f5f5;
	height:90px;
	overflow:hidden;
}
.logo {
	float:left;
	padding:0 0 10px;
	margin-right:50px;
	display:inline;
	width:240px;
	height:80px;
	background:url(../images/logo.png) no-repeat 0 0;
}
.logo_02 {
	float:left;
	padding:0 0 10px;
	margin-right:50px;
	display:inline;
	width:240px;
	height:80px;
	background:url(../images/logo2.png) no-repeat 0 0;
}
.logo a.a1,.logo_02 a.a1 {
	float:left;
	width:120px;
	height:80px;
	overflow:hidden;
	text-indent:-10000px;
}
.addressChoose {
	float:left;
	width:110px;
	padding:15px 0 0 10px;
	position:relative;
	z-index:1000;
}
.addressChoose .dropdown-menu {
	display:block;
	background:#fff;
	border:1px solid #ddd;
	border-radius:5px;
	position:absolute;
	z-index:1;
}
.addressChoose .dropdown-menu li {
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
}
.addressChoose .dropdown-menu li a {
	display:block;
	padding:10px 20px;
	background-color:#f5f5f5;
	white-space:nowrap;
}
.addressChoose .dropdown-menu li a:hover {
	background-color:#fff;
}
.searchArea {
	padding:15px 0 0;
	float:left;
	width:540px;
}
.searchBox {
	height:35px;
}
.searchText {
	float:left;
	padding:4px 5px 4px 10px;
	background:url(../images/search_text.png) no-repeat;
}
.searchText input {
	border:0px;
	width:480px;
	height:27px;
	background:transparent;
	outline:none;
	line-height:27px;
	z-index:1000;
	color:#999;
}
.searchText input.valid{
	color:#333;
}
.searchBtn {
	float:left;
	width:35px;
	height:35px;
	border:0px;
	cursor:pointer;
	background:url(../images/search_btn.png) no-repeat;
}
.searchArea p {
	clear:both;
	padding:5px 10px;
}
.searchArea p a {
	margin:0 5px;
	color:#666;
}
.searchArea p a:hover {
	color:#f50;
	text-decoration:underline;
}
.hotSearch {
	margin:0;
	padding:0;
	color:#666;
}
.promise {
	float:right;
	width:272px;
	height:90px;
	background:url(../images/promise.jpg) no-repeat center center;
}

/*for nav---------------------------*/
.nav {
	height:30px;
	background:#2e9206;
	min-width:1140px;
}
.nav .dropdown {
	position:relative;
	z-index:999;
	float:left;
	top:0;
}
.nav .dropdown a.classCloose {
	display:block;
	padding:0 15px;
	font-size:16px;
	line-height:32px;
	background-color:#46ad00;
	color:#fff;
	width:170px;
	height:32px;
	margin:-1px 0;
}
.nav .dropdown .caret {
	border-top-color:#fff;
	border-bottom-color:#fff;
	position:absolute;
	left:160px;
	top:13px;
}
.nav .dropdown-menu {
	padding:0;
	top:30px;
	border:none;
	box-shadow:none;
	background-color:transparent;
	position:absolute;
	left:0px;
}
.nav .dropdown-menu .mainClass {
	margin-right:-1px;
	width:199px;
	background:#eee;
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
.nav .dropdown-menu .mainClass > li > a {
	display:block;
	width:128px;
	color:#666;
	font-size:14px;
	font-weight:bold;
	line-height:39px;
	margin:0;
	padding:0 10px 0 60px;
	border:1px solid #d7d7d7;
	border-top:0;
	background-color:#eee;
}
.nav .dropdown-menu .mainClass > li > a.jg {
	background-color:#ddd;
	background-image:url(../images/class_icon_jg.jpg);
}
.nav .dropdown-menu .mainClass > li > a:hover,.nav .dropdown-menu .mainClass li a.on {
	color:#fff;
	position:relative;
	z-index:100;
	background-color:#2e9a02;
	border:1px solid #2e9a02;
	border-top:0;
	background-image:url(../images/class_white_icon.jpg);
}
.nav .dropdown-menu .subClass {
	width:626px;
	margin:0;
	padding:10px 10px 10px 0;
	border:2px solid #2e9a02;
	background-color:#fff;
	position:absolute;
	left:200px;
	top:0;
	z-index:1000;
	min-height:328px;
}
.nav .dropdown-menu .subClass dl {
	border-bottom:1px dotted #ddd;
	margin:0 0 10px 10px;
	clear:both;
}
.nav .dropdown-menu .subClass dt {
	font-size:12px;
	color:#f84d00;
	margin:3px 0;
	float:left;
	width:70px;
	text-align:left;
}
.nav .dropdown-menu .subClass dd {
	float:left;
	width:532px;
	overflow:hidden;
}
.nav .dropdown-menu .subClass dd .inner {
	margin:0 0 0 -1px;
}
.nav .dropdown-menu .subClass dd a {
	margin:3px 10px 5px 0;
	line-height:14px;
	padding:0;
	font-size:12px;
	color:#666;
	background:none;
	border-left:1px solid #ddd;
	border-right:0;
	padding-left:10px;
	display:inline-block;
}
.nav .dropdown-menu .subClass dd a:hover {
	color:#f60;
}
.classIcon {
	background-image:url(../images/class_icon.jpg);
	background-repeat:no-repeat;
}
.classIcon:hover {
	background-image:url(../images/class_white_icon.jpg);
}
/* 粮油调味 */
.classIcon_661 {
	background-position:20px 0;
}
/* 休闲零食 */
.classIcon_701 {
	background-position:20px -40px;
}
/* 饮料冲调 */
.classIcon_755 {
	background-position:20px -80px;
}
/* 母婴用品 */
.classIcon_04 {
	background-position:20px -120px;
}
/* 居家生活 */
.classIcon_876 {
	background-position:20px -160px;
}
/* 日用百货 */
.classIcon_812 {
	background-position:20px -200px;
}
/* 个护清洁 */
.classIcon_895 {
	background-position:20px -240px;
}
/* 水果蔬菜 */
.classIcon_969 {
	background-position:20px -280px;
}
/* 肉品水产 */
.classIcon_1018 {
	background-position:20px -320px;
}
/* 冷冻冷藏 */
.classIcon_1056 {
	background-position:20px -360px;
}
.navList {
	float:left;
}
.navList li {
	display:inline;
}
.navList li a {
	float:left;
	padding:0 15px;
	margin:0;
	color:#fff;
	font-size:16px;
	line-height:30px;
	border-right:1px solid #4eaa28;
}
.navList li a:hover {
	background-color:#46ad00;
	color:#fff;
}
.fixedTop {
	display:none;
	height:76px;
	z-index:1000;
	-moz-box-shadow:0px 3px 3px #ccc;
	-webkit-box-shadow:0px 3px 3px #ccc;
	box-shadow:0px 3px 3px #ccc;
}
.fixedLogo {
	float:left;
	width:102px;
	height:34px;
	margin-left:10px;
	display:inline;
	background:url(../images/logo_s.png) no-repeat;
}
.fixedLogo a {
	display:block;
	height:34px;
}
.fixedNav {
	height:41px;
	background-color:#2e9206;
}
.fixedNav .dropdown {
	position:relative;
	z-index:999;
	float:left;
	top:0;
}
.fixedNav .dropdown a.classCloose {
	display:block;
	padding:0 15px;
	font-size:16px;
	line-height:41px;
	background-color:#46ad00;
	color:#fff;
	width:170px;
	height:41px;
}
.fixedNav .dropdown .caret {
	border-top-color:#fff;
	border-bottom-color:#fff;
	position:absolute;
	left:160px;
	top:18px;
}
.fixedNav .dropdown-menu {
	padding:0;
	top:41px;
	border:none;
	box-shadow:none;
	background-color:transparent;
	position:absolute;
	left:0px;
}
.fixedNav .dropdown-menu .mainClass {
	margin-right:-1px;
	width:199px;
	background:#eee;
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
.fixedNav .dropdown-menu .mainClass li a {
	display:block;
	width:128px;
	color:#666;
	font-size:14px;
	font-weight:bold;
	line-height:39px;
	margin:0;
	padding:0 10px 0 60px;
	border:1px solid #d7d7d7;
	border-top:0;
	background-color:#eee;
}
.fixedNav .dropdown-menu .mainClass li a.jg {
	background-color:#ddd;
	background-image:url(../images/class_icon_jg.jpg);
}
.fixedNav .dropdown-menu .mainClass li a:hover,.nav .dropdown-menu .mainClass li a.on {
	color:#fff;
	position:relative;
	z-index:100;
	background-color:#2e9a02;
	border:1px solid #2e9a02;
	border-top:0;
	background-image:url(../images/class_white_icon.jpg);
}
.fixedNav .dropdown-menu .subClass {
	width:626px;
	margin:0;
	padding:10px 10px 10px 0;
	border:2px solid #2e9a02;
	background-color:#fff;
	position:absolute;
	left:200px;
	top:0;
	z-index:1000;
}
.fixedNav .dropdown-menu .subClass dl {
	border-bottom:1px dotted #ddd;
	margin:0 0 10px 10px;
	clear:both;
}
.fixedNav .dropdown-menu .subClass dt {
	font-size:12px;
	color:#f84d00;
	margin:3px 0;
	float:left;
	width:70px;
	text-align:left;
}
.fixedNav .dropdown-menu .subClass dd {
	float:left;
	width:532px;
	overflow:hidden;
}
.fixedNav .dropdown-menu .subClass dd .inner {
	margin:0 0 0 -1px;
}
.fixedNav .dropdown-menu .subClass dd a {
	margin:3px 10px 5px 0;
	line-height:14px;
	padding:0;
	font-size:12px;
	color:#666;
	background:none;
	border-left:1px solid #ddd;
	border-right:0;
	padding-left:10px;
	display:inline-block;
}
.fixedNav .dropdown-menu .subClass dd a:hover {
	color:#f60;
}
.fixedSearchBox {
	height:35px;
	padding-top:3px;
	margin-left:50px;
	float:left;
	display:inline;
}
.fixedSearchText {
	float:left;
	padding:4px 5px 4px 10px;
	background:url(../images/search_text.png) no-repeat;
}
.fixedSearchText input {
	border:0px;
	width:500px;
	height:27px;
	background:transparent;
	outline:none;
	line-height:27px;
}
.fixedSearchBtn {
	float:left;
	width:35px;
	height:35px;
	border:0px;
	cursor:pointer;
	background:url(../images/search_btn.png) no-repeat;
}
.nav-tabs {
	border-bottom:1px solid #ddd;
}
.nav {
	padding-left:0;
	margin-bottom:0;
	list-style:none;
}
.nav-tabs>li {
	float:left;
	margin-bottom:-1px;
}
.nav>li {
	position:relative;
	display:block;
}
.nav-tabs {
	height:40px;
	padding:10px;
	padding-bottom:0px;
	background-color:#ececec;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
	color:#555;
	cursor:default;
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom-color:transparent;
}
.nav-tabs>li>a {
	margin-right:2px;
	line-height:1.428571429;
	border:1px solid transparent;
	border-radius:4px 4px 0 0;
}
.nav>li>a {
	position:relative;
	display:block;
	padding:10px 15px;
}
.qbpp-box {
	width:1150px;
}
.qbpp-box dl {
	width:575px;
	float:left;
	margin-top:20px;
}
.qbpp-box dt,.pp-zm dt {
	font-size:20px;
	font-weight:bold;
	height:1.5em;
}
.pp-zm dt {
	padding:10px;
}
.pp-zm {
	padding:20px 10px;
}
.qbpp-box dd {
	overflow:hidden;
}
.qbpp-box dd a {
	margin-right:2px;
	margin-bottom:10px;
	display:block;
	float:left;
}
.qbpp-box dd img {
	border:1px solid #ccc;
	width:90px;
	height:45px;
}
.azIndex {
	margin:10px auto;
}
.brandTab {
	width:100%;
	overflow:hidden\9;
	background:#fff;
	margin:0 auto;
	margin-top:10px;
	height:32px;
	border-bottom:2px solid #333;
}
.brandTab li {
	float:left;
	overflow:hidden;
	height:32px;
	font-weight:700;
	font-size:14px;
	width:3.79%;
	line-height:32px;
	text-align:center;
	margin-right:-1px;
}
.azIndex-all a {
	display:block;
}
.brandTab a,.brandTab span {
	display:inline-block;
	width:100%;
	height:100%;
	border:1px solid #ccc;
	border-bottom:0;
}
.brandCon a {
	color:#333;
}
.brandTab a:hover,.brandTab .brandTab-curr a {
	text-decoration:none;
	width:100%;
	background:#333;
	color:#fff;
	padding:1px 0;
	border:0;
}
.brandTab .brandTab-curr span,.brandTab a:hover,.brandTab .brandTab-curr a {
	text-decoration:none;
	width:100%;
	background:#333;
	color:#fff;
	padding:1px 0;
	border:0;
}

/*for footer---------------------------*/
.serviceBox {
	clear:both;
	border-top:1px solid #c9c9c9;
}
.serviceBox .container{
	width:100%;
	border-top:1px solid #f1f1f1;
	text-align:center;
}
.helpArea {
	background-color:#ececec;
	padding:20px 0;
}
.helpArea ul{
    width:1140px;
    margin:0 auto;
}
.helpArea ul li {
	float:left;
	width:208px;
	margin:0 10px;
	display:inline;
}
.helpArea ul li h4 {
	font-size:16px;
	margin-bottom:5px;
}
.helpArea ul li a {
	display:block;
	padding-left:10px;
	line-height:24px;
	font-size:14px;
	background:url(../images/icon_dot.gif) no-repeat 0 11px;
}
.footer {
	clear:both;
	text-align:center;
	background-color:#ececec;
}
.footer .container {
	border-top:1px solid #ddd;
	padding:20px;
}
.footer .authentication a{
	margin:0 5px;
}

/*for base layout---------------------------*/
.container {
	width:1140px;
	margin:0 auto;
	clear:both;
}

/*overflow:hidden;*/

.containleft {
	width:900px;
	float:left;
}
.leftSide {
	float:left;
	width:200px;
}
.rightSide {
	float:right;
	width:920px;
	height:auto!important;
	height:400px;
	min-height:400px;
}
.normalTitle-01 {
	padding:8px 10px;
	border:1px solid #ddd;
	background-color:#f6f6f6;
}
.normalTitle-01 h2 {
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:0 20px 0 0;
	color:#333;
}
.btn-cart-s {
	display:block;
	width:24px;
	height:24px;
	overflow:hidden;
	background:url(../images/btn_cart_s.png) no-repeat 0 0;
}
.btn-cart-s:hover {
	background-position:0 -34px;
}
.btn-cart-n{
    position:absolute;
    bottom:10px;
    right:5px;
    width:72px;
    height:29px;
    overflow:hidden;
    background:url(../images/btn_cart_n.png) no-repeat 0 0;
}
.indexBox .btn-cart-n{
    bottom:5px;
}
.btn-cart-m {
	display:block;
	width:32px;
	height:32px;
	overflow:hidden;
	background:url(../images/btn_cart_m.png) no-repeat 0 0;
}
.btn-cart-m:hover {
	background-position:0 -42px;
}
.btn-cart-b {
	display:block;
	width:48px;
	height:48px;
	overflow:hidden;
	background:url(../images/btn_cart_b.png) no-repeat 0 0;
}
.btn-cart-b:hover {
	background-position:0 -58px;
}
.normalList-01 {
	width:920px;
	clear:both;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:none;
}
.normalList-01 ul {
	display:block;
}
.normalList-01 ul:after{
	clear:both; content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility: hidden;
	width:0;
	height:0;
}
.normalList-01 ul li {
	float:left;
	width:237px;
	height:318px;
	border-bottom:1px solid #eee;
}
.normalList-01 ul li .inner {
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.normalList-01 ul li:hover {
	position:relative;
	z-index:100;
}
.normalList-01 ul li:hover .inner {
	position:absolute;
	top:-2px;
	left:-1px;
	width:237px;
	height:318px;
	border:2px solid #f60;
	-moz-box-shadow:0 2px 5px #f60;
	-webkit-box-shadow:0 2px 5px #f60;
	box-shadow:0 2px 5px #f60;
}
.normalList-01 ul li .pic {
	width:236px;
	height:236px;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	z-index:1;
}
.normalList-01 ul li .pic img {
	width:100%;
	height:auto;
}
.normalList-01 ul li .text {
	padding:8px 8px 5px;
	background-color:#f3f3f3;
}
.normalList-01 ul li .text h2 {
	height:32px;
	line-height:16px;
	font-size:14px;
	color:#333;
}
.normalList-01 ul li .text h2 a {
	color:#333;
}
.normalList-01 ul li .text h2 a:hover {
	color:#f60;
}
.normalList-01 ul li .text p {
	float:left;
	margin:0;
	padding-top:5px;
	height:32px;
	line-height:16px;
	font-size:16px;
	color:#f84d00;
}
.normalList-01 ul li .text p em {
	font-size:12px;
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-weight:normal;
}
.normalList-01 ul li .btns {
	height:30px;
	padding:0 10px;
	background-color:#cecece;
}
.normalList-02 {
	clear:both;
	background-color:#fff;
}
.normalList-02 ul {
	display:block;
}
.normalList-02 ul:after{
	clear:both; content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility: hidden;
	width:0;
	height:0;
}
.normalList-02 ul li {
	float:left;
	width:190px;
	height:270px;
	border-bottom:1px solid #eee;
}
.normalList-02 ul li .inner {
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.normalList-02 ul li:hover {
	position:relative;
	z-index:100;
}
.normalList-02 ul li:hover .inner {
	position:absolute;
	top:-2px;
	left:-1px;
	width:188px;
	height:270px;
	border:2px solid #f60;
	-moz-box-shadow:0 2px 5px #f60;
	-webkit-box-shadow:0 2px 5px #f60;
	box-shadow:0 2px 5px #f60;
}
.normalList-02 ul li .pic {
	height:188px;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	z-index:1;
}
.normalList-02 ul li .pic img {
	width:100%;
	height:auto;
}
.normalList-02 ul li .text {
	padding:8px 8px 5px;
	background-color:#f3f3f3;
}
.normalList-02 ul li .text h2 {
	height:32px;
	line-height:16px;
	font-size:14px;
	color:#333;
}
.normalList-02 ul li .text h2 a {
	color:#333;
}
.normalList-02 ul li .text h2 a:hover {
	color:#f60;
}
.normalList-02 ul li .text p {
	float:left;
	margin:0;
	padding-top:5px;
	height:32px;
	line-height:16px;
	font-size:16px;
	color:#f84d00;
}
.normalList-02 ul li .text p em {
	font-size:12px;
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-weight:normal;
}
.normalList-02 ul li .btns {
	height:30px;
	padding:0 10px;
	background-color:#cecece;
}
.normalList-03 {
	width:920px;
	clear:both;
	background-color:#fff;
}
.normalList-03 ul {
	display:block;
}
.normalList-03 ul:after{
	clear:both; content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility: hidden;
	width:0;
	height:0;
}
.normalList-03 ul li {
	float:left;
	width:184px;
	height:270px;
	border-bottom:1px solid #eee;
}
.normalList-03 ul li .inner {
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.normalList-03 ul li:hover {
	position:relative;
	z-index:100;
}
.normalList-03 ul li:hover .inner {
	position:absolute;
	top:-2px;
	left:-1px;
	width:182px;
	height:270px;
	border:2px solid #f60;
	-moz-box-shadow:0 2px 5px #f60;
	-webkit-box-shadow:0 2px 5px #f60;
	box-shadow:0 2px 5px #f60;
}
.normalList-03 ul li .pic {
	height:188px;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	z-index:1;
}
.normalList-03 ul li .pic img {
	width:100%;
	height:auto;
}
.normalList-03 ul li .text {
	padding:8px 8px 5px;
	background-color:#f3f3f3;
}
.normalList-03 ul li .text h2 {
	height:32px;
	line-height:16px;
	font-size:14px;
	color:#333;
}
.normalList-03 ul li .text h2 a {
	color:#333;
}
.normalList-03 ul li .text h2 a:hover {
	color:#f60;
}
.normalList-03 ul li .text p {
	float:left;
	margin:0;
	padding-top:5px;
	height:32px;
	line-height:16px;
	font-size:16px;
	color:#f84d00;
}
.normalList-03 ul li .text p em {
	font-size:12px;
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-weight:normal;
}
.normalList-03 ul li .btns {
	height:30px;
	padding:0 10px;
	background-color:#cecece;
}
.normalList-04 {
	width:920px;
	clear:both;
	background-color:#fff;
}
.normalList-04 ul {
	display:block;
}
.normalList-04 ul:after{
	clear:both; content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility: hidden;
	width:0;
	height:0;
}
.normalList-04 ul li {
	float:left;
	width:184px;
	height:259px;
	border-bottom:1px solid #eee;
}
.normalList-04 ul li .inner {
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.normalList-04 ul li:hover {
	position:relative;
	z-index:100;
}
.normalList-04 ul li:hover .inner {
	position:absolute;
	top:-2px;
	left:-1px;
	width:182px;
	height:259px;
	border:2px solid #f60;
	-moz-box-shadow:0 2px 5px #f60;
	-webkit-box-shadow:0 2px 5px #f60;
	box-shadow:0 2px 5px #f60;
}
.normalList-04 ul li .pic {
	height:188px;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	z-index:1;
}
.normalList-04 ul li .pic img {
	width:100%;
	height:auto;
}
.normalList-04 ul li .text {
	padding:8px 8px 5px;
	background-color:#f3f3f3;
}
.normalList-04 ul li .text h2 {
	height:32px;
	line-height:16px;
	font-size:14px;
	color:#333;
}
.normalList-04 ul li .text h2 a {
	color:#333;
}
.normalList-04 ul li .text h2 a:hover {
	color:#f60;
}
.normalList-04 ul li .text p {
	margin:0;
	height:26px;
	font-size:16px;
	color:#f84d00;
}
.normalList-04 ul li .text p em {
	font-size:12px;
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-weight:normal;
}
.normalList-04 ul li .btns {
	height:30px;
	padding:0 10px;
	background-color:#cecece;
}
.scList {
	width:920px;
	clear:both;
	background-color:#fff;
}
.scList ul {
	display:block;
}
.scList ul:after{
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility: hidden;
	width:0;
	height:0;
}
.scList ul li {
	float:left;
	width:184px;
	height:291px;
	border-bottom:1px solid #eee;
}
.scList ul li .inner {
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.scList ul li:hover {
	position:relative;
	z-index:100;
}
.scList ul li:hover .inner {
	position:absolute;
	top:-2px;
	left:-1px;
	width:182px;
	height:289px;
	border:2px solid #f60;
	-moz-box-shadow:0 2px 5px #f60;
	-webkit-box-shadow:0 2px 5px #f60;
	box-shadow:0 2px 5px #f60;
}
.scList ul li .pic {
	height:188px;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	z-index:1;
}
.scList ul li .pic img {
	width:100%;
	height:auto;
}
.scList ul li .text {
	padding:8px 8px 5px;
	background-color:#f3f3f3;
}
.scList ul li .text h2 {
	height:36px;
	line-height:18px;
	font-size:14px;
	color:#333;
}
.scList ul li .text h2 a {
	color:#333;
	word-break:break-all;
}
.scList ul li .text h2 a:hover {
	color:#f60;
}
.scList ul li .text p {
	margin:0;
	height:24px;
	font-size:16px;
	color:#f84d00;
	font-weight:bold;
}
.scList ul li .text p em {
	font-size:12px;
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-weight:normal;
}
.scList ul li .btns {
	height:30px;
	padding:0 10px;
	background-color:#cecece;
}
.buy-num-01 {
	float:left;
}
.buy-num-01 .minus {
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/icon_minus.png) no-repeat 0 0;
}
.buy-num-01 .plus {
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/icon_plus.png) no-repeat 0 0;
}
.buy-num-01 .minus:hover,.buy-num-01 .plus:hover {
	background-position:0 -40px;
}
.buy-num-01 .num-text {
	float:left;
	padding:3px 0;
}
.buy-num-01 .num-text input {
	border:1px solid #ccc;
	width:50px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.btn-cart-01 {
	float:right;
	width:30px;
	height:30px;
	overflow:hidden;
	background:url(../images/btn_cart.png) no-repeat 0 0;
}
.btn-cart-01:hover {
	background-position:0 -40px;
}
.buy-num-02 {
	float:left;
}
.buy-num-02 .minus {
	float:left;
	width:35px;
	height:35px;
	overflow:hidden;
	background:url(../images/icon_minus_b.png) no-repeat 0 0;
}
.buy-num-02 .plus {
	float:left;
	width:35px;
	height:35px;
	overflow:hidden;
	background:url(../images/icon_plus_b.png) no-repeat 0 0;
}
.buy-num-02 .minus:hover,.buy-num-02 .plus:hover {
	background-position:0 -45px;
}
.buy-num-02 .num-text {
	float:left;
	padding:3px 0;
}
.buy-num-02 .num-text input {
	border:1px solid #ccc;
	width:50px;
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:14px;
}
.btn-cart-02 {
	float:right;
	width:35px;
	height:35px;
	overflow:hidden;
	background:url(../images/btn_cart_b.png) no-repeat 0 0;
}
.btn-cart-02:hover {
	background-position:0 -45px;
}
.cartMain .price {
	color:#f60;
	font-size:14px;
}
.cartMain .price em {
	font-style:normal;
	font-size:12px;
	color:#999;
	margin-left:3px;
	text-decoration:line-through;
}
.sale-tag {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	top:5px;
	right:5px;
}
.sale-tag-none{
    display:block;
    width:102px;
    height:74px;
    position:absolute;
    background:url(../images/sale_tag_none.png) no-repeat;
    top:50%;
    right:50%;
    margin-top:-37px;
    margin-right:-51px;
}
.sale-tag-none-big{
    display:block;
    width:220px;
    height:159px;
    position:absolute;
    background:url(../images/sale_tag_none_big.png) no-repeat;
    top:50%;
    right:50%;
    margin-top:-80px;
    margin-right:-110px;
}
.sale-tag-01 {
	background:url(../images/sale_tag_01.png) no-repeat;
}
.sale-tag-02 {
	background:url(../images/sale_tag_02.png) no-repeat;
}
.sale-tag-03 {
	background:url(../images/sale_tag_03.png) no-repeat;
}
.sale-tag-04 {
	background:url(../images/sale_tag_04.png) no-repeat;
}
.sale-tag-05 {
	background:url(../images/sale_tag_05.png) no-repeat;
}
.sale-tag-06 {
	background:url(../images/sale_tag_06.png) no-repeat;
}
.sale-tag-07 {
	background:url(../images/sale_tag_07.png) no-repeat;
}
.sale-tag-08 {
	background:url(../images/sale_tag_08.png) no-repeat;
}
.sale-tag-09 {
	background:url(../images/sale_tag_09.png) no-repeat;
}
.sale-tag-b {
	display:block;
	width:64px;
	height:64px;
	position:absolute;
	top:5px;
	right:5px;
}
.sale-tag-b-01 {
	background:url(../images/sale_tag_b_01.png) no-repeat;
}
.sale-tag-b-02 {
	background:url(../images/sale_tag_b_02.png) no-repeat;
}
.sale-tag-b-03 {
	background:url(../images/sale_tag_b_03.png) no-repeat;
}
.sale-tag-b-04 {
	background:url(../images/sale_tag_b_04.png) no-repeat;
}
.sale-tag-b-05 {
	background:url(../images/sale_tag_b_05.png) no-repeat;
}
.sale-tag-b-06 {
	background:url(../images/sale_tag_b_06.png) no-repeat;
}
.sale-tag-b-07 {
	background:url(../images/sale_tag_b_07.png) no-repeat;
}
.sale-tag-b-08 {
	background:url(../images/sale_tag_b_08.png) no-repeat;
}
.sale-tag-b-09 {
	background:url(../images/sale_tag_b_09.png) no-repeat;
}
.breadcrumbs {
	padding:5px;
	background-color:#fff;
	clear:both;
	border-bottom:1px solid #b0d997;
	margin-bottom:10px;
	font-size:14px;
}
.breadcrumbs li {
	float:left;
}
.breadcrumbs li a {
	color:#2e9206;
}
.breadcrumbs li a:hover {
	color:#f60;
}
.breadcrumbs li span {
	margin:0px 10px;
}
.sortBar {
	height:30px;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:2px solid #2e9206;
}
.sortList {
	float:left;
}
.sortList li {
	float:left;
	border-right:1px solid #ddd;
	padding:0 15px;
	line-height:30px;
}
.sortList li a.on {
	color:#f84d00;
}
.sortList .sort-up {
	float:left;
	padding-right:10px;
	background:url(../images/sort_up.png) no-repeat right 10px;
}
.sortList .sort-down {
	float:left;
	padding-right:10px;
	background:url(../images/sort_down.png) no-repeat right 10px;
}
.sortList .sort-up-active {
	float:left;
	padding-right:10px;
	background:url(../images/sort_up_active.png) no-repeat right 10px;
}
.sortList .sort-down-active {
	float:left;
	padding-right:10px;
	background:url(../images/sort_down_active.png) no-repeat right 10px;
}
.sortList li.priceArea {
	padding:0 10px;
}
.sortList li.priceArea .input_num {
	padding:0 3px;
	width:40px;
	height:20px;
	border:1px solid #ddd;
}
.priceRange {
	float:left;
	display:inline;
	margin:10px 10px 0 0;
	width:200px;
	height:10px;
	background-color:#f5f5f5;
	border:1px solid #ddd;
	border-radius:3px;
	position:relative;
	z-index:1;
}
.priceRange .bar {
	height:10px;
	background-color:#f60;
	position:absolute;
	z-index:1;
}
.priceRange .slider {
	height:16px;
	width:16px;
	border-radius:8px;
	background-color:#fff;
	border:1px solid #ccc;
	position:absolute;
	top:-4px;
	z-index:2;
}
.priceRange .slider:hover {
	background-color:#ddd
}
.totalArea {
	clear:both;
	padding:10px 20px;
	margin-bottom:10px;
	background-color:#fff9da;
}
.totalArea-l {
	float:left;
	width:50%;
}
.totalArea-r {
	float:right;
	width:40%;
}
.totalArea .count-list {
	float:right;
	width:240px;
}
.totalArea .count-list dt {
	float:left;
	width:90px;
	margin-bottom:5px;
}
.totalArea .count-list dd {
	float:right;
	width:150px;
	text-align:right;
	margin-bottom:5px;
}
.totalArea .row {
	border-bottom:1px dashed #ffc37c;
	padding:0 10px;
	margin-bottom:10px;
}
.totalArea .btnArea {
	padding:10px;
	text-align:right;
	clear:both;
}
.editArea {
	border:2px solid #f90;
	background-color:#fff;
	padding:15px;
}
.editArea .title {
	font-size:14px;
	font-weight:bold;
	padding:0 0 5px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
}
.editArea .btns {
	padding-top:10px;
	clear:both;
}
.cart_no_box {
	margin:50px auto;
	width:400px;
	height:auto!important;
	height:100px;
	min-height:100px;
	padding:10px 10px 10px 110px;
	background:url(../images/cart_no.png) no-repeat 0 0;
}
img.userIcon {
	border:1px solid #ddd;
	border-radius:5px;
}

/*for fixedMenu---------------------------*/
.fixedMenu {
	border:3px solid #eee;
	width:84px;
	background-color:#fff;
	padding:1px;
	position:fixed;
	z-index:100;
	bottom:82px;
	right:10px;
	_display:none;
}
.fixedMenu li {
	border-bottom:1px solid #ddd;
	position:relative;
}
#fixedShoppingCart{
	border-bottom:0;
}
#gotop {
	position:absolute;
	background:#fff;
	border:3px solid #eee;
	border-top:1px solid #ddd;
	left:-3px;
	bottom:-46px;
}
#gotop a{
	padding:1px;
}
.fixedMenu li a.a1 {
	display:block;
	width:84px;
	height:40px;
}
.fixedMenu li a.a2 {
	display:block;
	width:84px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:12px;
}
.fixedMenu li a.a1:hover {
	color:#fff;
	background-color:#2e9206;
}
.fixedMenu li a.a2:hover {
	color:#fff;
	background-color:#2e9206;
}
.fixedMenu li a.fy1 {
	background:url(../images/icon_fy_01.png) no-repeat -80px 0;
	height:20px;
	padding-top:25px;
	text-align:center;
}
.fixedMenu li a.fy1:hover {
	background-position:20px 0;
}
.fixedMenu li a.fy2 {
	background:url(../images/icon_fy_02.png) no-repeat -80px 0;
	height:20px;
	padding-top:25px;
	text-align:center;
}
.fixedMenu li a.fy2:hover {
	background-position:20px 0;
}
.fixedMenu li a.kf {
	background:url(../images/icon_kf.png) no-repeat -80px 0;
}
.fixedMenu li a.kf:hover {
	background-position:20px 0;
}
.fixedMenu li a.ls {
	background:url(../images/icon_history.png) no-repeat -80px 0;
}
.fixedMenu li a.ls:hover {
	background-position:20px 0;
}
.fixedMenu li a.sc {
	background:url(../images/icon_fav.png) no-repeat -80px 0;
}
.fixedMenu li a.sc:hover {
	background-position:20px 0;
}
.fixedMenu li a.gwc {
	background:url(../images/icon_gwc.png) no-repeat -80px 0;
}
.fixedMenu li a.gwc:hover {
	background-position:20px 0;
}
.fixedMenu li a.gotop {
	background:url(../images/icon_gotop.png) no-repeat -80px 0;
}
.fixedMenu li a.gotop:hover {
	background-position:20px 0;
}
.fixedMenu li a.on {
	background-position:20px 0;
	background-color:#2e9206;
}
.fixedMenu li a.current {
	color:#fff;
	background:#2e9206 url(../images/icon_arrow_white.gif) no-repeat 3px 6px;
}
.fixedMenu li a.back {
	display:block;
	width:58px;
	height:30px;
	padding-right:26px;
	text-align:right;
	line-height:30px;
	font-size:12px;
	background:url(../images/icon_back.png) no-repeat right 0;
}
.fixedMenu li a.back:hover {
	color:#fff;
	background-color:#2e9206;
	background-position:right -40px;
}
.fixedMenu .numChat {
	display:block;
	width:25px;
	height:22px;
	line-height:18px;
	padding-bottom:6px;
	text-align:center;
	font-size:12px;
	color:#f84c00;
	position:absolute;
	left:50px;
	top:-10px;
	background:url(../images/num_chat.png) no-repeat;
}
.fixedMenu .popBox {
	width:250px;
	height:auto!important;
	height:250px;
	min-height:250px;
	padding:10px;
	border:2px solid #2e9206;
	background-color:#fff;
	position:absolute;
	right:84px;
	bottom:-87px;
	z-index:10;
}
.fixedMenu .popBox .arrow {
	display:block;
	width:0px;
	height:0px;
	overflow:hidden;
	border-top:10px solid transparent;
	border-left:10px solid #fff;
	border-bottom:10px solid transparent;
	position:absolute;
	right:-12px;
	bottom:95px;
}
.fixedMenu .popBox ul {
	margin:0;
	padding:0;
}
.fixedMenu .popBox li {
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}
.fixedMenu .popBox .pic {
	width:50px;
	height:50px;
	overflow:hidden;
	border:1px solid #ddd;
	float:left;
}
.fixedMenu .popBox .pic img {
	width:100%;
	height:auto;
}
.fixedMenu .popBox .text {
	float:right;
	width:190px;
}
.fixedMenu .popBox .text a {
	text-align:left;
	margin-bottom:5px;
}

/*for dialog---------------------------*/
#dialog {
	border:5px solid #666;
	border-radius:10px;
	background-color:#fff;
	padding:10px 20px;
}
.dialog {
	border:5px solid #666;
	border-radius:10px;
	background-color:#fff;
	padding:10px 20px;
}
.modal {
	position:relative;
	z-index:1;
}
.modal .closeBtn {
	display:block;
	width:16px;
	height:16px;
	background:url(../images/close.png) no-repeat 0 0;
	position:absolute;
	right:-15px;
	top:-5px;
}
.modal .closeBtn:hover {
	background-position:0 -27px;
}
.modal-header {
	clear:both;
	padding:8px 10px;
	border-bottom:1px solid #ddd;
}
.modal-body {
	clear:both;
	padding:10px;
}
.modal-footer {
	clear:both;
	padding:8px 10px;
	border-top:1px solid #ddd;
}
.construction {
	width:290px;
	height:140px;
	padding:80px;
	margin:0 auto;
	font-size:14px;
	background:url(../images/construction.jpg) no-repeat;
}
.construction h2 {
	font-size:30px;
	line-height:30px;
	margin-bottom:10px;
	color:#f40;
}

/* Limit berserk */
.limit-berserk-main {
	background-color:#ffb10f;
	min-height:400px;
	background-image:url(../images/limit_berserk_bg.jpg);
	background-repeat:repeat-x;
	background-position:center top;
	padding-bottom:10px;
}
.limit-berserk-line {
	height:10px;
	background-image:url(../images/limit_berserk_main_bg.png);
}
.limit-berserk-box {
	background-color:#ff4d4d;
	min-height:400px;
	background-image:url(../images/limit_berserk_box_bg.png);
	background-repeat:repeat-x;
	background-position:left top;
}
.limit-berserk-box .container {
	overflow:hidden;
}
.limit-berserk-box .act-pk {
	width:1150px;
}
.act-pk li {
	float:left;
	width:279px;
	margin:0px 8px 15px 0px;
	position:relative;
}
.act-pk li .act-pk-info {
	display:block;
	width:100%;
}
.act-pk li .act-pk-info img {
	width:279px;
	height:185px;
}
.act-pk li .act-you {
	display:block;
	width:100%;
	background-color:#c50e2c;
	color:#fff;
	font-size:16px;
	box-sizing:border-box;
	overflow:hidden;
}
.act-pk li.act-pk-waiting .act-you{
	background:#0d7f4e;
}
.act-pk li .act-you .info {
	display:block;
	float:left;
	width:210px;
	padding:5px;
	height:39px;
	overflow:hidden;
}
.act-pk li .act-pk-info:hover .info {
	text-decoration:underline;
}
.act-pk li .act-you .right-info {
	display:block;
	width:39px;
	height:39px;
	background-color:#e61f40;
	float:right;
	text-align:center;
	padding:5px;
	font-weight:bold;
}
.act-pk li.act-pk-waiting .act-you .right-info{
	background:#19a46a;	
}
.act-pk li .soldout-mask {
    height: 80px;
    width: 132px;
    background-image: url(../images/tj-none.png);
    position: absolute;
    right: 16px;
    bottom: 57px;
    display: none;
    z-index: 80
}
.act-pk li.act-pk-none .soldout-mask{
	display:block;
}
.act-pk .black-bg {
	position:absolute;
    top: 0;
    left: 0;
	width:279px;
	height:185px;
	display:none;
	background-image:url(../images/black_bg.png);
	text-align:center;
}
.act-pk .black-bg .btn {
	background:green;
	color:#fff;
	margin-top:68px;
}
.act-pk .act-prices {
	display:block;
    height: 40px;
    width: 254px;
    padding: 10px 17px 0 8px;
    background: #ffedd1 url(../images/sprits-300-300.png) no-repeat 0 -75px;
    position: relative;
    margin: 0;
}
.act-pk .act-pk-waiting .act-prices{
	background-position:0 -138px;
}
.act-pk .act-prices .dock {
    position: relative;
    float: left
}
.act-pk .act-prices .discount {
    background:url(../images/sprits-650-2000.png) no-repeat -487px -1204px;
    height: 23px;
    width: 62px;
    padding-left: 6px;
    display: inline-block;
    color: #d51938;
    font: 700 14px/23px "Microsoft Yahei", Arial;
    text-align: center;
    position: relative;
    top: -3px;
    margin-left: 5px
}
.act-pk .act-prices .discount em {
    font-size: 18px;
    font-weight: 700;
    margin-right: 2px;
    vertical-align: bottom;
    vertical-align: middle \9;
    line-height: 23px;
    letter-spacing: -1px
}
.act-pk .act-prices .sicon {
    font-size: 12px;
    letter-spacing: -1px;
    padding-left: 4px
}
.act-pk .act-prices .orig-price {
    font-size: 12px;
    color: #633d00;
    position: absolute;
    left: 138px;
    top: 31px
}
.act-pk .act-prices .dock .orig-price {
    left: 12px;
    top: 19px
}
.act-pk .act-prices .price {
    color: #d51938;
    font: 700 24px/36px tahoma, Arial;
    float: left
}
.act-pk .act-prices .price i {
    font-style: normal;
    font-family: "Microsoft Yahei", Arial;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 28px
}
.act-pk .act-prices .price em {
    font-size: 35px;
    letter-spacing: -2px;
    margin-right: 1px;
    line-height: 30px
}
.act-pk .act-prices .sold-num {
    font-size: 12px;
    position: absolute;
    right: 7px;
    bottom: 5px
}
.act-pk .act-prices .sold-num em {
    color: #390;
    font-weight: 700;
    font-size: 16px
}
.ju-point .ju-itemlist li.soldout-ju-normal .soldout-mask {
    display: block
}
.act-pk .act-prices .sold-num {
    bottom: 5px;
    font-size: 12px;
    position: absolute;
    color: #666;
    right: 7px
}
.act-pk .act-prices .sold-num em {
    color: #390
}
.header {
	padding:15px;
	overflow:hidden;
}
.header.red {
	background-color:#c50e2c;
}
.header h2 {
	color:#ffe800;
	float:left;
	margin-top:5px;
}
.point-watch {
	display:block;
}
.point-watch * {
	float:left;
}
.point-watch s.digital {
	float:left;
	background-color:#000;
	width:21px;
	height:30px;
	font-size:28px;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	margin:0px 2px;
}
.point-watch span,.point-watch b {
	margin-top:5px;
	color:#fff;
	font-size:14px;
}
.point-watch .watch_title {
	font-size:22px;
	font-weight:700;
}
.tj-itemlist-box .title {
	padding-top:30px;
	height:60px;
	background-repeat:no-repeat;
	background-position:left;
	padding-left:305px;
}
.tj-itemlist-box .title.jrtj {
	background-image:url(../images/jrtj.png);
}
.tj-itemlist-box .title.mrtj {
	background-image:url(../images/mrtj.png);
}
.tj-itemlist-box .title .title-info {
	height:45px;
	background-color:#fe8f00;
	padding-top:15px;
	padding-right:15px;
}
.tj-itemlist-box .title .title-info h2 {
	float:left;
	color:#fff;
	padding-top:7px;
	padding-left:15px;
}
.tj-itemlist-box .tj-box {
	padding:15px;
	background-color:#fff;
}
.tj-itemlist-box .tj-box .img {
    position:relative;
	float:left;
	width:500px;
	height:328px;
	text-align:center;
}
.tj-itemlist-box .tj-box .img img {
	max-width:500px;
	max-height:332px;
}
.tj-itemlist-box .tj-box .detail-status {
	float:left;
	width:590px;
	margin-left:15px;
	position:relative;
}
.tj-itemlist-box .tj-box .detail-status .J_juBuyBtns {
	height:69px;
	background-image:url(../images/sprits-650-2000.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:650px;
	position:absolute;
	left:-15px;
	top:140px;
}
.tj-itemlist-box .tj-box .detail-status .tj-waiting{
    background-position:0px -100px;}
.tj-itemlist-box .tj-box .detail-status .tj-ready{
    background-position:0px -100px;}
.tj-itemlist-box .tj-box .detail-status .tj-action{
    background-position:0px 0px;}
.tj-itemlist-box .tj-box .detail-status .tj-over{
	background-position:0px -300px;}
.detail-status .avil .buyaction {
	width:600px;
	height:68px;
	display:block;
	position:absolute;
	top:1px;
	left:0px;
	cursor:default;
	border:0;
	font-size:0px;
	line-height:0;
	color:transparent;
	text-indent:-999px;
	cursor:pointer;
	background:transparent url(../images/sprits-650-2000.png) no-repeat;
}
.detail-status .avil .tj-waiting .buyaction {
	background-position:475px -505px;}
.detail-status .avil .tj-ready .buyaction {
    background-position:475px -625px;cursor:normal;}
.detail-status .avil .tj-active .buyaction {
    background-position:475px -389px}
.detail-status .avil .tj-over .buyaction {
    background-position:475px -861px;cursor:normal;}
.detail-status .avil .tj-waiting .buyaction:hover {
	background-position:475px -1349px;}
.detail-status .avil .tj-active .buyaction:hover {
    background-position:475px -1229px;}
.detail-status .main-box .originPrice {
	color:#fff;
	font-family:Arial;
	font-weight:700;
	font-size:42px;
	line-height:76px;
	margin-left:10px;
	margin-right:0px;
	text-align:center;
	width:230px;
	height:70px;
}
.detail-status .main-box .beleft {
	height:70px;
	overflow:hidden;
}
.detail-status .avil .discount {
	color:#d21e3c;
	background:url(../images/sprits-650-2000.png) no-repeat -487px -1204px;
}
.detail-status .main-box .description {
	color:#482a00;
	font-size:14px;
	border-color:#ffe6cb;
	letter-spacing:0.5px;
	*letter-spacing:1px:;
	height:100px;
	overflow:hidden;
}
.detail-status .main-box .name {
	color:#333;
	letter-spacing:0.5px;
	*letter-spacing:1px:;
	font-size:18px;
	margin:15px 0px;
}
.detail-status .avil .discount {
	color:#d21e3c;
}
.detail-status .main-box .discount {
	font-size:18px;
	font-weight:700;
	width:57px;
	padding-left:5px;
	text-align:center;
	height:25px;
	line-height:25px;
	position:relative;
	top:12px;
}
.detail-status .main-box .originPrice {
	font-size:16px;
	color:#fff;
	position:relative;
	top:-12px;
	margin-right:0px;
	height:69px;
}
.detail-status .main-box .currentPrice {
	color:#fff;
	font-family:Arial;
	font-weight:700;
	font-size:42px;
	line-height:70px;
	margin-left:50px;
	margin-right:0px;
	text-align:center;
	width:230px;
	height:70px;
}
.detail-status .time-banner {
	margin-top:100px;
	text-align:center;
	padding-left:130px;
	height:50px;
}
.detail-status .time-banner .point-watch .watch_title,.time-banner .point-watch b {
	color:#333;
}
.detail-status .time-banner .point-watch .watch_title {
	font-size:18px;
	font-weight:normal;
}
.detail-status .numOfPeople {
	text-align:center;
	margin-top:10px;
}
.detail-status .main-box .numOfPeople .num {
	color:#d51938;
	font-size:20px;
	font-weight:700;
	font-family:Arial;
	margin-right:4px;
}
.xsqg-banner {
	height:30px;
	line-height:30px;
	background-color:#2e9206;
	padding:10px;
	color:#fff;
}
.xsqg-banner .countdown-price {
	font-size:20px;
}
.xsqg-banner .point-watch .watch_title {
	font-size:14px;
	font-weight:normal;
	margin-top:0px;
}
.xsqg-banner .point-watch s.digital {
	font-size:14px;
	width:16px;
	height:20px;
	line-height:20px;
}
.xsqg-banner .point-watch span,.xsqg-banner .point-watch b {
	margin-top:0px;
}
.xsqg-banner .point-watch s.digital {
	margin-top:5px;
	font-weight:normal;
	text-decoration:none;
}
.lb-formtitle {
	text-align:center;
}
.lb-formtitle img {
	margin-right:.5em
}