@{
    Layout = "";
}
@model Nop.Plugin.Widgets.ProductSpecialSale.Models.SpecialSaleStageQueryModel

<table>
    <tr>
        <td class="adminTitle">
           
        </td>
        <td class="adminData">
          
            
        </td>
    </tr>
</table>