@using Nop.Admin.Models.Activity
@using Telerik.Web.Mvc.UI
@{
    //page title
    ViewBag.Title = "周期活动管理";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            <span>周期活动管理</span>
        </div>
    </div>
    <p>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<CycleActivityListModel>()
                .Name("associatedproducts-grid")
                    .DataKeys(keys => keys.Add(x => x.Id))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("SearchCycleActivityList", "Activities"))
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name).ReadOnly();
                        columns.Bound(x => x.ActivityProductCount);
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Common.View").Text, "CycleActivityEdit", new { id = x.Id }))
                                                        .ClientTemplate("<a href=\"CycleActivityEdit/<#= Id #>\">" + T("Admin.Common.View").Text + "</a>")
                                                        .Width(50)
                                                        .Centered()
                                                        .Title(T("Admin.Common.View").Text);
                    })
                    .EnableCustomBinding(true))
            </td>
        </tr>
    </table>  
}