@model Nop.Core.Domain.Acts.Act 
@{
    if (Model.IsHeader)
    {
        Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    }
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
}
<div>
     @Html.Raw(Model.Body)
</div> 