<div id="customermaximumquantity" class="dialog" style="display: none; width: 220px">
    <div class="modal" id="divmessage">
        <input type="hidden" id="hidcqproductid" />
        <div class="modal-header">
            <h4 class="modal-title">抢购数量设置</h4>
        </div>
        <div class="modal-body modal-subscribe">
            <div class="formList clearfix">
                <dl>
                    抢购数量：<input type="text" value="1" id="txtmaxquantity" />
                </dl>
            </div>
        </div>
        <div class="modal-footer text-center">
            <a id="btnquantity" class="btn btn-green btn-sm mar_r_20">确定</a>
            <a id="cancel_button" class="btn btn-default btn-sm close">取 消</a>
        </div>
    </div>
</div>

