<!-- 订购限时抢购弹出层 -->
<div id="dialog" class="dialog" style="display: none;width: 300px">
    <div class="modal" id="divmessage">
        <a href="javascript:void(0)" class="close closeBtn"></a>
        <div class="modal-header">
            <h4 class="modal-title">设置免费提醒</h4>
        </div>
        <div class="modal-body modal-subscribe">
            <p>选择您接收提醒的方式</p>
            <div class="formList clearfix">
                <input type="hidden" id="hiddproductid" />
                <dl id="dlphone" style="display: ">
                    <dt>
                        <input type="checkbox" name="ckcontect" id="ckphone" value="" checked="checked" />手机号：</dt>
                    <dd>
                        <div id="phone"></div>
                    </dd>
                </dl>
                <dl id="dlemail" style="display: ">
                    <dt>
                        <input type="checkbox" name="ckcontect" id="ckemail" value="" checked="checked" />E-mail：</dt>
                    <dd>
                        <div id="email"></div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="modal-footer text-center">
            <a id="save_button" class="btn btn-orange close">确定</a>
            <a id="cancel_button" class="btn btn-default close">取 消</a>
        </div>
    </div>
</div>
<!-- 订购成功弹出层 -->
<div id="dialogaccess" class="dialog" style="display: none;width: 300px">
    <div class="modal" id="inline_content">
        <a href="javascript:void(0)" class="close closeBtn"></a>
        <div class="modal-header">
            <h4 class="modal-title">设置免费提醒</h4>
        </div>
        <div class="modal-body clearfix"> 
            <div class="formList clearfix">
                <h3 class="lb-formtitle">
                    <img src="/Themes/60GO2/Content/images/icon_ok.png" />恭喜您，设置成功！</h3>
                <p>我们将在开售前以 <span class="cred">短信</span> 或 <span class="cred">邮件</span> 的形式通知您</p>
                <p>
                    同时我们给您下发了<span class="cred">一条短信</span> / <span class="cred">一封邮件</span>，您到<br>
                    时可以直接通过您的手机号或邮箱号进行登录抢购
                </p>
            </div>
        </div>
        <div class="modal-footer text-center">
            <a href="javascript:void(0)" class="btn btn-default mar_l_20 close">关闭</a>
        </div>
    </div>
</div>
<!-- 已经订阅限时抢购弹出层 -->
<div id="dialoged" class="dialog" style="display: none;width: 300px">
    <div class="modal" id="inline_content">
        <a href="###" class="close closeBtn"></a>
        <div class="modal-header">
            <h4 class="modal-title">设置免费提醒</h4>
        </div>
        <div class="modal-body clearfix">
            <h3 class="lb-formtitle"><img src="/Themes/60GO2/Content/images/icon_warnning.png" />你已对该商品设置了免费提醒</h3>
            <div class="formList clearfix">
                <dl id="dledphone">
                    <dt>手机号：</dt>
                    <dd><label id="lbphone">sss</label></dd>
                </dl>
                <dl id="dledemail">
                    <dt>e-mail：</dt>
                    <dd><label id="lbemail">sss</label><dd>
                </dl>
            </div>
        </div>
        <div class="modal-footer text-center">
            <a href="javascript:void(0)" class="btn btn-default mar_l_20 close">关闭</a>
        </div>
    </div>
</div>
